@use '@scssutils' as *;

.page-container {
  @include media-breakpoint-down(lg) {
    height: 100%;
    max-height: inherit;
    box-sizing: border-box;
    position: relative;

    & > .page-content {
      overflow-y: auto;
      box-sizing: border-box;
      margin-top: 6rem;
      height: calc(100% - 6rem);
      max-height: 100%;

      // hide scroll
      &::-webkit-scrollbar {
        display: none;
      }

      -ms-overflow-style: none;
      scrollbar-width: none; /* Firefox */
    }
  }

  @include media-breakpoint-up(lg) {
    margin-left: 0;
    width: 100%;
    height: inherit;
    max-height: inherit;

    & > .page-content {
      width: calc(100% - 87px);
      margin-left: 87px;
      height: inherit;
      max-height: inherit;
      position: relative;

      &.nav-open {
        margin-left: 230px;
        width: calc(100% - 230px);
      }
    }
  }
}
