:root {
  --input-select: #77c9ff;
  --input-warning: #dc8787;
  --white: #fff;
  --gray-border-dark: #e8e8e8;
  --gray-border: #e8e8e8;
  --bg-light: #f9f9f9;
  --text-main: #222;
  --gray-lighter: #cbd3d8;
  --gray-light: #899ca8;
  --gray-dark: #617684;
  --gray-darker: #485964;
  --success: #14bc6e;
  --success-dark: #10a15e;
  --error: #cb3f3f;
  --error-dark: #b53030;
  --primary: #0c8ce0;
  --primary-dark: #0876be;
  --light-green-bg: #eefff7;
  --light-red-bg: #fff5f5;
  --light-gray-bg: #f1f1f1;
  --light-orange-bg: #fbf5e7;
  --warning: #c8a043;
  --card-shadow: 5px 5px 15px #00000005;
  --transparent: rgb(0 0 0 / 0%);
  --inactive-box-shadow: 0 6px 10px rgb(0 0 0 / 0%);
  --buttons-box-shadow: 0 6px 10px rgb(0 0 0 / 10%);
}
