@use '../../../shared/scss/base/variables/' as v;
@use '../../../shared/scss/helpers/mixins' as mix;
@use '../../../shared/scss/helpers/bootstrap/' as bs;

#network-overview-page {
  .page-content {
    & > .overview-network-stats {
      display: grid;
      column-gap: 3rem;
      row-gap: 2rem;
      grid-template-columns: 1fr;
      justify-items: start;
      box-sizing: border-box;
      @include bs.media-breakpoint-down(md) {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
      }
      @include bs.media-breakpoint-down(xl) {
        padding-left: 2rem;
        padding-right: 2rem;
      }
      @include bs.media-breakpoint-up(xl) {
        padding-left: 6rem;
        padding-right: 6rem;
      }
      @include bs.media-breakpoint-up(xxl) {
        grid-template-columns: 1fr 1fr;
        justify-items: center;
      }

      & > .summary,
      .activity-graph {
        max-width: 768px;
      }

      & > .summary {
        box-shadow: 5px 5px 15px #00000005;
        background-color: v.$white;
        border-radius: 15px;
        height: 104px;
        position: relative;
        width: 100%;
        @include bs.media-breakpoint-down(md) {
          height: 60px;
        }
        @include bs.media-breakpoint-down(xl) {
          display: grid;
          grid-auto-columns: 1fr;
          grid-template-rows: 1fr;
        }
        @include bs.media-breakpoint-up(xl) {
          display: flex;
          flex-direction: row;
          align-items: center;
          align-content: center;
          justify-content: flex-start;
        }

        & > .info {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          box-sizing: border-box;
          height: 100%;
          @include bs.media-breakpoint-down(md) {
            align-items: center;
            align-content: center;
            justify-content: center;

            &:last-of-type {
              padding-right: 1.5rem;
            }
          }
          @include bs.media-breakpoint-up(md) {
            padding-top: 2rem;
          }
          @include bs.media-breakpoint-down(xl) {
            grid-row: 1;
            width: 100%;
          }
          @include bs.media-breakpoint-up(xl) {
            width: 192.5px;
          }

          &:first-of-type {
            @include bs.media-breakpoint-down(md) {
              padding-left: 1.5rem;
            }
            @include bs.media-breakpoint-up(md) {
              padding-left: 2rem;
            }
          }

          &:not(:first-of-type) {
            @include bs.media-breakpoint-down(md) {
              padding-left: 1rem;
            }
            @include bs.media-breakpoint-up(md) {
              padding-left: 1.95rem;
            }

            border-left: 1px solid v.$gray-border;
          }

          & > .info-title {
            @include bs.media-breakpoint-down(md) {
              display: none;
            }
            @include mix.typography(
              12px,
              17px,
              medium,
              v.$gray-light,
              'Poppins'
            );
          }

          & > .content {
            display: flex;
            flex-direction: row;
            align-items: center;
            align-content: center;
            justify-content: flex-start;
            column-gap: 1.15rem;

            & > .info-value {
              @include bs.media-breakpoint-down(md) {
                @include mix.typography(
                  20px,
                  28px,
                  semiBold,
                  v.$text-main,
                  'Poppins'
                );
              }
              @include bs.media-breakpoint-up(md) {
                @include mix.typography(
                  41px,
                  57px,
                  semiBold,
                  v.$text-main,
                  'Poppins'
                );
              }
            }
          }

          &.network-usage {
            flex-grow: 1;
            row-gap: 0.8rem;

            & > .content {
              column-gap: 2.7rem;

              & > .network-usage {
                & > span {
                  display: flex;
                  flex-direction: row;
                  align-items: center;
                  align-content: center;
                  justify-content: flex-start;
                  column-gap: 0.4rem;
                  @include mix.typography(
                    12px,
                    17px,
                    medium,
                    v.$text-main,
                    'Poppins'
                  );
                }
              }
            }
          }
        }
      }

      & > .activity-graph {
        padding: 1.5rem 2rem 1rem;
        box-sizing: border-box;
        border-radius: 15px;
        background-color: v.$white;
        box-shadow: 5px 5px 15px #00000005;
        height: 104px;
        width: 100%;

        & > header {
          display: flex;
          flex-direction: row;
          align-items: center;
          align-content: center;
          justify-content: flex-start;
          margin-bottom: 1.5rem;

          h3 {
            @include mix.typography(
              15px,
              21px,
              medium,
              v.$text-main,
              'Poppins'
            );
            @include bs.media-breakpoint-down(md) {
              text-transform: uppercase;
              @include mix.text-weight(semiBold);
            }
            @include bs.media-breakpoint-up(md) {
            }
          }

          & > .peaks {
            margin-left: auto;
            display: flex;
            flex-direction: row;
            align-items: center;
            align-content: center;
            justify-content: flex-start;
            height: 17px;
            @include bs.media-breakpoint-down(md) {
              column-gap: 1rem;
            }
            @include bs.media-breakpoint-up(md) {
              column-gap: 2rem;
            }

            & > span {
              @include bs.media-breakpoint-down(md) {
                &:first-of-type {
                  display: none;
                }
              }
              @include mix.typography(
                12px,
                17px,
                medium,
                v.$gray-light,
                'Poppins'
              );
            }

            & > .network-speed {
              display: flex;
              flex-direction: row;
              align-items: center;
              align-content: center;
              justify-content: flex-start;
              column-gap: 0.4rem;
            }
          }
        }

        & > .network-speed {
          margin-top: 1rem;
        }
      }
    }
  }
}
