
#network-overview-page {
  .page-content {
    & > .overview-network-stats {
      display: grid;
      column-gap: 3rem;
      row-gap: 2rem;
      grid-template-columns: 1fr;
      justify-items: start;
      box-sizing: border-box;
      @include media-breakpoint-down(md) {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
      }
      @include media-breakpoint-up(md) {
        justify-items: center;
      }
      @include media-breakpoint-down(xl) {
        padding-left: 2rem;
        padding-right: 2rem;
      }
      @include media-breakpoint-up(xl) {
        padding-left: 6rem;
        padding-right: 6rem;
      }
      @include media-breakpoint-up(xxl) {
        grid-template-columns: 1fr 1fr;
      }

      & > .summary {
        position: relative;
        grid-row: 1;
        grid-column: 1;
        width: 100%;
        @include media-breakpoint-down(lg) {
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-template-rows: auto auto;
          width: 100%;
          row-gap: 1.5rem;
          column-gap: 1.5rem;
        }
        @include media-breakpoint-up(lg) {
          box-shadow: 5px 5px 15px #00000005;
          background-color: var(--white);
          border-radius: 15px;
          display: flex;
          align-items: center;
          align-content: center;
          justify-content: flex-start;
          flex-flow: row nowrap;
          height: 120px;
          width: 820px;
        }

        & > .info {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          @include media-breakpoint-down(lg) {
            padding: 2rem;
            box-sizing: border-box;
            box-shadow: 5px 5px 15px #00000005;
            background-color: var(--white);
            border-radius: 15px;
            width: 100%;
            row-gap: 1rem;

            &:nth-of-type(1) {
              grid-row: 1;
              grid-column: 1;
            }

            &:nth-of-type(2) {
              grid-column: 2;
              grid-row: 1;
            }

            &:nth-of-type(3) {
              grid-column: 1;
              grid-row: 2;
            }

            &:nth-of-type(4) {
              grid-column: 2;
              grid-row: 2;
            }
          }
          @include media-breakpoint-up(lg) {
            box-sizing: border-box;
            padding-top: 2rem;
            grid-row: 1;
            height: 100%;
          }
          @include media-breakpoint-down(xl) {
            width: 100%;
          }
          @include media-breakpoint-up(xl) {
            padding-right: 1.5rem;
          }

          @include media-breakpoint-up(lg) {
            &:first-of-type {
              @include media-breakpoint-down(md) {
                padding-left: 1.5rem;
              }
              @include media-breakpoint-up(md) {
                padding-left: 2rem;
              }
            }

            &:not(:first-of-type) {
              @include media-breakpoint-down(md) {
                padding-left: 1rem;
              }
              @include media-breakpoint-up(md) {
                padding-left: 1.95rem;
              }

              border-left: 1px solid var(--gray-border);
            }
          }

          & > .info-title {
            @include typography-legacy(12px, 17px, medium, var(--gray-light), 'Poppins');
          }

          & > .content {
            display: flex;
            flex-direction: row;
            align-items: center;
            align-content: center;
            justify-content: flex-start;
            column-gap: 1.15rem;

            & > .info-value {
              @include typography-legacy(
                41px,
                41px,
                semiBold,
                var(--text-main),
                'Poppins'
              );
              @include media-breakpoint-up(md) {
                @include typography-legacy(
                  41px,
                  57px,
                  semiBold,
                  var(--text-main),
                  'Poppins'
                );
              }
            }
          }

          &.network-usage {
            flex-grow: 1;
            row-gap: 0.8rem;

            & > .content {
              column-gap: 2.7rem;

              & > .network-usage {
                & > span {
                  display: flex;
                  flex-direction: row;
                  align-items: center;
                  align-content: center;
                  justify-content: flex-start;
                  column-gap: 0.4rem;
                  @include typography-legacy(
                    12px,
                    17px,
                    medium,
                    var(--text-main),
                    'Poppins'
                  );
                }
              }
            }
          }
        }
      }

      & > .activity-graph {
        padding: 1.5rem 2rem 1rem;
        box-sizing: border-box;
        border-radius: 15px;
        background-color: var(--white);
        box-shadow: 5px 5px 15px #00000005;
        height: 120px;
        display: grid;
        grid-template-rows: 21px 1fr;
        grid-template-columns: 1fr;
        row-gap: 15px;
        width: 100%;

        & > .chart {
          grid-row: 2;
          grid-column: 1 / 2;
        }

        & > header {
          grid-row: 1;
          grid-column: 1 / 2;
          display: flex;
          flex-direction: row;
          align-items: center;
          align-content: center;
          justify-content: flex-start;

          h3 {
            @include typography-legacy(15px, 21px, medium, var(--text-main), 'Poppins');
            @include media-breakpoint-down(md) {
              text-transform: uppercase;
              @include text-weight(semiBold);
            }
            @include media-breakpoint-up(md) {
            }
          }

          & > .peaks {
            margin-left: auto;
            display: flex;
            flex-direction: row;
            align-items: center;
            align-content: center;
            justify-content: flex-start;
            height: 17px;
            @include media-breakpoint-down(md) {
              column-gap: 1rem;
            }
            @include media-breakpoint-up(md) {
              column-gap: 2rem;
            }

            & > span {
              @include media-breakpoint-down(md) {
                &:first-of-type {
                  display: none;
                }
              }
              @include typography-legacy(
                12px,
                17px,
                medium,
                var(--gray-light),
                'Poppins'
              );
            }

            & > .network-speed {
              display: flex;
              flex-direction: row;
              align-items: center;
              align-content: center;
              justify-content: flex-start;
              column-gap: 0.4rem;
            }
          }
        }

        & > .network-speed {
          margin-top: 1rem;
        }
      }
    }
  }
}
