@use '../../../scss/helpers' as *;

.card {
  &.no-license-box {
    width: 100%;
    min-height: 300px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-direction: column;
    box-sizing: border-box;
    padding: 2.5rem 1.5rem;

    & > svg {
      margin-bottom: 2.5rem;
    }

    & > p {
      @include regular-text;

      color: var(--gray-light);

      & > strong {
        @include small-header;

        color: var(--gray-light);
      }

      a,
      span {
        @include regular-text;

        color: var(--gray-light);
      }
    }
  }
}
