@use '../../../shared/scss/base/variables/' as v;
@use '../../../shared/scss/helpers/mixins' as mix;
@use '../../../shared/scss/helpers/bootstrap' as bs;

#network-overview-page {
  .page-content {
    .bottom-row {
      & > .activity-stream {
        width: 100%;
        display: grid;
        grid-template-rows: 28px 1fr;
        box-sizing: border-box;
        position: relative;
        @include bs.media-breakpoint-down(xl) {
          padding-top: 4rem;
          row-gap: 1.5rem;
          min-height: 350px;
        }
        @include bs.media-breakpoint-up(xl) {
          height: 100%;
          padding-bottom: 6rem;
          row-gap: 2rem;
        }

        & > .no-data-text {
          margin-left: 0;
          margin-top: 0;
          @include bs.media-breakpoint-down(md) {
            margin-left: 0;
            text-align: center;
          }
        }

        & > header {
          grid-row: 1;
        }

        & > .stream {
          grid-row: 2;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          align-content: flex-start;
          justify-content: flex-start;
          row-gap: 2rem;
          box-sizing: border-box;
          padding: 2rem;
          border-radius: 15px;
          box-shadow: 5px 5px 15px #00000005;
          background-color: v.$white;

          & > .activity {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            align-content: center;
            justify-content: center;
            row-gap: 0.5rem;
            width: 100%;

            & > .info {
              display: flex;
              flex-direction: row;
              align-content: center;
              align-items: center;
              justify-content: flex-start;
              width: 100%;

              .activity-status {
                svg {
                  margin-right: 0.6rem;
                }
              }

              & > .time {
                margin-left: auto;
                @include mix.typography-legacy(12px, 14px, medium, v.$gray-light);
              }
            }

            & > .message {
              @include mix.typography-legacy(12px, 14px, medium);

              box-sizing: border-box;
              padding-left: 2.4rem;
              overflow: hidden;

              span {
                color: v.$gray-light;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
              }
            }
          }
        }
      }
    }
  }
}
