@use '@shared/scss/base/variables' as v;
@use '@shared/scss/helpers/bootstrap' as bs;
@use '@shared/scss/helpers/mixins' as mix;

.client-edit-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  width: 100%;
  gap: 2rem;
  @include bs.media-breakpoint-up(md) {
    column-gap: 2rem;
  }

  .hidden {
    display: none;
  }
}
