@use '@shared/scss/base/variables' as v;
@use '@shared/scss/helpers/bootstrap' as bs;
@use '@shared/scss/helpers/mixins' as mix;

.client-edit-form {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  width: 100%;
  gap: 2rem;
  @include bs.media-breakpoint-up(md) {
    column-gap: 2rem;
  }

  & > .scopes {
    display: flex;
    flex-flow: column;
    box-sizing: border-box;
    padding: 1.2rem 1.5rem 2rem;
    row-gap: 1.5rem;
  }

  .hidden {
    display: none;
  }
}
