#network-page,
.network-setup {
  .network-config {
    & > .card {
      padding: 15px 30px 40px;

      & > form {
        justify-content: flex-start;
        align-content: flex-start;
        align-items: flex-start;

        & > .hidden {
          @include visually-hidden;
        }

        & > label {
          margin-bottom: 12px;
        }

        & > .input-container {
          width: 100%;
        }

        & > .message-box-spacer {
          &:not(:last-child) {
            padding-bottom: 25px;
          }
        }
      }
    }
  }
}
