#network-page,
.network-setup {
  .network-config {
    & > .card {
      padding: 15px 30px 40px;

      & > form {
        justify-content: flex-start;
        align-content: flex-start;
        align-items: flex-start;

        & > .hidden {
          @include visually-hidden;
        }

        & > label {
          margin-bottom: 12px;
        }

        & > .input-container {
          width: 100%;
        }

        & > .message-box-spacer {
          &:not(:last-child) {
            padding-bottom: 25px;
          }
        }
      }
    }
  }

  #location-mfa-mode-explain-message-box {
    ul {
      list-style-position: inside;
      margin-top: 8px;

      li {
        p {
          display: inline;
        }
      }
    }
  }

  #service-location-mode-explain-message-box {
    ul {
      list-style-position: inside;
      margin-top: 8px;

      li {
        p {
          display: inline;
        }
      }
    }
  }

  .divider-header {
    padding-bottom: var(--spacing-s);

    .inner {
      display: flex;
      flex-flow: row;
      align-items: center;
      justify-content: flex-start;
      border-bottom: 1px solid var(--border-primary);
    }

    .header {
      @include typography(app-side-bar);
    }
  }
}
