@use './fonts';
@use './variables' as v;
@use './scrollbar';

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

html {
  font-size: 62.5%;
  height: 100%;
  max-height: 100%;
  overflow: hidden;
}

body {
  font-size: 1.6rem;
  color: v.$gray-light;
  font-family: Poppins, 'Roboto Condensed', Roboto, 'Open Sans', Helvetica, Arial;
  background: v.$bg-light;
  overflow-x: hidden;
  height: inherit;
  max-height: inherit;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6,
.title,
.nav {
  font-family: Poppins;
}

section,
div {
  .title {
    font-family: Poppins;
  }
}

p,
span {
  font-family: Roboto;
}

p,
span,
div,
section,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: v.$text-main;
}

#root {
  height: 100%;
  background: v.$bg-light;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}
