@use './variables/colors' as c;
@use '../helpers/mixins' as mix;

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  @include mix.bg-opacity(c.$gray-light, 0.4);

  border-radius: 15px;

  &:hover {
    @include mix.bg-opacity(c.$gray-light, 1);
  }
}
