@use './variables' as v;
@use '../helpers/mixins' as mix;

// Overrides base toastify styles without braking animations.
.Toastify {
  .Toastify__toast-container {
    width: auto;
    height: auto;
    padding: 0;

    .Toastify__toast {
      width: auto;
      height: auto;
      padding: 0;
      margin-bottom: 1rem;
      min-height: 0;
      box-shadow: 0 6px 20px #0000001a;
      border: 1px solid v.$gray-border-dark;
      background-color: v.$white;
      border-radius: 1rem;

      .Toastify__toast-body {
        width: fit-content;
        height: fit-content;
        margin: 0;
        padding: 0;
      }

      // button {
      //   &.Toastify__close-button {
      //     display: none;
      //   }
      // }
      .popup-close {
        display: none;

        svg {
          path,
          rect {
            fill: v.$gray-border;
          }
        }
      }

      .Toastify__progress-bar {
        left: 2rem;
        bottom: 1.6rem;
        right: 4rem;
        width: calc(100% - 4rem - 2rem);
        height: 0.2rem;
        background-image: none;
        background-color: v.$gray-light;
      }
    }
  }
}
