@use '@shared/scss/base/variables' as v;
@use '@shared/scss/helpers/bootstrap' as bs;
@use '@shared/scss/helpers/mixins' as mix;

#wizard {
  & > .content {
    & > .steps-container {
      & > .container-basic {
        &.network-ip-address {
          @include bs.media-breakpoint-down(xl) {
            display: block;
            box-sizing: border-box;
            padding: 0 2rem;
            max-height: calc(100% - 90px - 70px);
            overflow: hidden;
            width: 100%;
          }
          @include bs.media-breakpoint-up(xl) {
            display: flex;
            flex-direction: row;
            align-content: center;
            align-items: flex-start;
            justify-content: flex-start;
            padding: 3rem;
            width: 100%;
            max-width: 100%;
            box-sizing: border-box;
            height: auto;
            gap: 3rem;
          }

          h2 {
            font-size: 2rem;
            line-height: 3rem;
            color: v.$text-main;
            opacity: 1;
            @include mix.text-weight(semiBold);

            font-family: Poppins;
            margin-bottom: 2rem;
          }

          form {
            display: flex;
            flex-direction: column;
            align-content: center;
            align-items: flex-start;
            justify-content: flex-start;
            @include bs.media-breakpoint-down(xl) {
              max-height: calc(100%);
              overflow: auto;
            }
            @include bs.media-breakpoint-up(xl) {
              width: 100%;
              height: 100%;
              gap: 0;
            }

            & > .inputs-container {
              box-sizing: border-box;
              scroll-margin-right: 2rem;
              width: 100%;
              margin-bottom: 2rem;
              margin-top: 1.5rem;

              .input-container {
                font-size: 1.4rem;
                color: v.$text-main;
                @include mix.text-weight(medium);

                line-height: 1.4rem;
                margin-bottom: 2.5rem;
              }

              & > .message-box {
                margin-bottom: 2rem;
              }

              :last-child {
                margin-bottom: 0;
              }
            }
          }
        }
      }
    }
  }
}
