@use '../../../../../shared/scss/helpers' as *;

#add-user-device-modal {
  & > .step-0 {
    & > form {
      & > .toggle {
        width: 100%;
        margin-top: calc(3.2rem - 2.5rem);
        margin-bottom: 2rem;
      }

      & > .controls {
        margin-top: calc(3.2rem - 2.5rem);
      }
    }
  }
}
