@use '@shared/scss/base/variables' as v;
@use '@shared/scss/helpers/bootstrap' as bs;
@use '@shared/scss/helpers/mixins' as mix;

#oauth-consent {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
  height: inherit;
  width: 100%;

  & > form {
    display: none;
  }

  .defguard-logo {
    @include bs.media-breakpoint-down(md) {
      display: none;
    }
    @include bs.media-breakpoint-up(md) {
      display: flex;
      width: 100%;
      height: 100%;
    }

    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    background-color: v.$primary;
  }

  & > .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    background-color: v.$white;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    @include bs.media-breakpoint-down(md) {
      padding: 0 2rem;
    }
    @include bs.media-breakpoint-up(md) {
      padding: 0 2rem;
    }

    h1 {
      font-size: 4.1rem;
      text-align: center;
      @include bs.media-breakpoint-down(md) {
        padding-bottom: 3rem;
      }
      @include bs.media-breakpoint-up(md) {
        padding-bottom: 4rem;
      }
    }

    & > p {
      font-size: 1.5rem;
      line-height: 1.4rem;
      color: v.$gray-dark;
      @include mix.text-weight(medium);

      .client-id {
        @include mix.text-weight(bold);
      }
    }

    .scopes {
      margin-top: 1rem;
      margin-bottom: 4rem;
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      align-content: center;
      justify-content: center;
      column-gap: 1rem;
      row-gap: 1.5rem;
      width: 100%;

      p {
        font-size: 1.5rem;
        line-height: 1.4rem;
        color: v.$gray-dark;
        @include mix.text-weight(medium);
      }

      .badge {
        display: flex;
        flex-flow: row;
        align-items: center;
        align-content: center;
        justify-content: center;
        height: 2.5rem;
        min-width: 45px;

        span {
          font-size: 1.4rem;
        }
      }
    }

    .controls {
      display: flex;
      flex-direction: row;
      align-items: center;
      align-content: center;
      justify-content: center;
      width: 100%;
      @include bs.media-breakpoint-down(md) {
        flex-wrap: wrap;
        row-gap: 1.5rem;

        & > button {
          width: 100%;
        }
      }
      @include bs.media-breakpoint-up(md) {
        column-gap: 2rem;

        & > button {
          width: clamp(80px, 141px, 141px);
        }
      }

      & > button {
        height: 40px;
      }
    }
  }
}
