.wizard-step-summary {
  .thank-you {
    font: var(--t-title-h4);
    color: var(--fg-success);
  }

  .note,
  ul {
    font: var(--t-body-sm-400);
    color: var(--fg-neutral);
  }

  .encourage {
    font: var(--t-body-sm-500);
    color: var(--fg-neutral);
  }

  ul {
    list-style-position: inside;
  }

  .recommendations {
    display: grid;
    gap: var(--spacing-md);

    .container {
      display: flex;
      align-items: center;
      gap: var(--spacing-xl);
      padding: var(--spacing-md);
      border: 1px solid var(--border-disabled);
      border-radius: var(--radius-lg);
      background-color: var(--bg-default);
    }

    .icon {
      width: 34px;
      height: 38px;
    }

    .recommendation-row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: var(--spacing-lg);
      width: 100%;

      .btn {
        min-width: 132px;
      }

      .kicker-title {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-xs);
      }

      .kicker {
        font: var(--t-body-xs-500);
        color: var(--fg-muted);
      }

      .title {
        font: var(--t-body-lg-500);
        color: var(--fg-default);
      }
    }
  }
}
