#settings-page {
  .support {
    & > .content {
      & > div {
        display: flex;
        flex-flow: column;
        align-items: center;
        align-content: center;
        justify-content: center;

        &:not(:last-child) {
          margin-bottom: 0.8rem;
        }
      }
    }
  }
}
