#openid-consent {
  background-color: var(--bg-light);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
  min-height: 100dvh;

  & > * {
    @include media-breakpoint-up(lg) {
      min-height: 100dvh;
    }
  }

  .logo-container {
    display: none;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    background-color: var(--primary);
    flex-grow: 1;
    flex-shrink: 0;
    width: 50%;
    height: 100%;

    @include media-breakpoint-up(lg) {
      display: flex;
    }
  }

  & > .consent {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    ul {
      margin: 0;
      box-sizing: border-box;
      padding: var(--spacing-l) 0;
      width: 330px;
    }

    .controls {
      flex-direction: column;
      gap: 1rem;

      button {
        width: 330px;
        margin-bottom: var(--spacing-s);

        &:last-of-type {
          margin: 0;
        }
      }
    }
  }

  & > form {
    display: none;
  }
}
