#settings-activity-log-streaming-tab {
  width: 784px;

  .table-top {
    padding-left: 0px;
    padding-right: 0px;
  }
  .table {
    padding-left: 0px;
    padding-right: 0px;
  }

  .empty-state {
    margin-top: 120px;
  }
}
