@use '../../shared/scss/helpers' as *;

#network-page {
  & > .page-content {
    padding: 3rem 2rem;
    box-sizing: border-box;
    overflow-y: auto;
    display: grid;
    row-gap: 3rem;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: 1fr;
    grid-template-areas:
      'header'
      'config'
      'gateway';

    @include media-breakpoint-up(lg) {
      padding: 4rem 6rem;
      grid-template-rows: 60px auto;
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
        'header header'
        'config gateway';
      row-gap: 4rem;
      column-gap: 4rem;
    }

    & > header {
      grid-area: header;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      align-content: center;
      justify-content: flex-start;

      & > h1 {
        display: none;

        @include page-header;

        @include media-breakpoint-up(lg) {
          display: block;
        }
      }

      & > .controls {
        display: flex;
        flex-flow: row nowrap;
        margin-left: auto;
        column-gap: 1rem;

        & > .btn {
          height: 40px;
        }
      }
    }

    & > section {
      & > header {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        align-content: center;
        justify-content: flex-start;
        column-gap: 1.5rem;
        margin-bottom: 2rem;
        height: 3rem;

        h2 {
          @include card-header;
        }
      }
    }

    & > .network-config {
      grid-area: config;
    }

    & > .gateway {
      grid-area: gateway;
    }
  }
}
