@use '../../shared/scss/helpers' as *;

#network-page {
  & > .page-content {
    padding: 30px 40px;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
    display: block;

    @include media-breakpoint-up(lg) {
      padding: 64px 70px 45px;
    }

    & > header {
      display: block;
      height: auto;
      margin-bottom: 5px;
      width: 100%;
      & > h1 {
        user-select: none;
        display: none;

        @include page-header;

        @include media-breakpoint-up(lg) {
          display: block;
          line-height: 62px;
        }
      }
    }

    & > .network-card {
      width: 100%;
      max-width: 100%;
      padding: 20px;
      box-sizing: border-box;
      display: grid;
      row-gap: 48px;
      column-gap: 57px;
      grid-template-rows: 40px auto;
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
        'controls controls'
        'config gateway';

      & > .network-controls {
        grid-area: controls;
      }

      & > .network-config {
        grid-area: config;
      }

      & > .gateway {
        grid-area: gateway;
      }

      & > * {
        width: 100%;
        max-width: 100%;
      }

      header {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: flex-start;
        column-gap: 7px;
        user-select: none;
        margin-bottom: 20px;

        h2 {
          @include typography(20px, 30px, semiBold, var(--text-main), 'Poppins');
        }
      }

      .message-box-container {
        &:not(:last-child) {
          margin-bottom: 20px;
        }
      }

      form {
        & > * {
          width: 100%;
        }

        & > .message-box-container {
          &:not(:last-child) {
            margin-bottom: 32px;
          }
        }
      }
    }
  }
}
