.selection-section {
  .actions {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    column-gap: var(--spacing-xl);

    & > .right {
      margin-left: auto;

      .selected-filter {
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: flex-end;
        flex: none;
        column-gap: var(--spacing-sm);
        cursor: pointer;

        & > span {
          font: var(--t-body-sm-400);
          color: var(--fg-neutral);
        }
      }
    }
  }

  .items-box {
    overflow: hidden auto;

    & > .inner {
      display: flex;
      flex-flow: column;
      justify-content: flex-start;

      & > .item {
        display: flex;
        flex: none;
        cursor: pointer;
        user-select: none;

        .item-label {
          font: var(--t-body-sm-400);
          color: var(--fg-default);
        }

        &:not(.disabled, .error):hover .box {
          --border: var(--border-emphasis);
        }
      }
    }
  }
}
