{# Requires context
enrollment_url -> URL of the enrollment service
link_url -> URL of the enrollment service with the token query param included
defguard_url -> URL of defguard core Web UI
token -> enrollment token
#}
{% extends "base" %}
{% import "macros" as macros %}
{% block mail_content %}
{% set client_docs_url="https://docs.defguard.net/help/desktop-client" %}
{% set client_docs_link=macros::link(content=client_docs_url, href=client_docs_url) %}
{% set release_url="https://defguard.net/download/" %}
{% set release_link=macros::link(content=release_url, href=release_url) %}
{# intro #}
{% set section_content = [
macros::paragraph(content="You're receiving this email because a new account has been created for you."),
macros::paragraph(content="In order to start the enrollment process please choose one of the following options:"),
] %}
{{ macros::text_section(content_array=section_content)}}
{# desktop client enrollment #}
{% set enrollment_link=macros::link(content=enrollment_url, href=enrollment_url) %}
{% set section_content = [
macros::paragraph(content="<b>1. Enrollment by desktop client</b>"),
macros::paragraph(content="Download the official defguard desktop client for Windows, macOS or Linux: " ~ release_link),
macros::paragraph(content="After installation, please add a defguard instance by entering:"),
macros::paragraph(content="<ul><li>Instance URL: " ~ enrollment_link ~ "</li><li>Enrollment token: <b>" ~ token ~ "</b></li></ul>"),
macros::paragraph(content="<b>Please note that: the token is only valid for 24 hours after receiving this email. When the enrollment process starts user will have 10 minutes to complete the process.</b>"),
macros::paragraph(content="For more details go to the desktop client documentation: " ~ client_docs_link),
] %}
{{ macros::text_section(content_array=section_content)}}
{# web enrollment #}
{% set defguard_link=macros::link(content=defguard_url, href=defguard_url) %}
{% set section_content = [
macros::paragraph(content="<b>2. Enrollment via Web Browser</b>"),
macros::paragraph(content="If you choose this option, you will be able to change your account details, set a password, and <b>only</b> configure a standard WireGuard client device - but not the official defguard desktop client.
Desktop client can still be activated later, by accessing your profile in defguard: " ~ defguard_link ~ "."),
macros::paragraph(content= "If you wish to do enrollment via Web, please copy & paste the following URL in your browser: "),
macros::link(content=link_url, href=link_url),
macros::paragraph(content="<b>Please note that: this option is only valid for 24 hours after receiving this email. When the enrollment process starts user will have 10 minutes to complete the process.</b>"),
macros::paragraph(content="You can also click the buttons below to start the enrollment on website or within desktop client:"),
macros::button_link(href=link_url, text="Start enrollment"),
macros::spacer(height="20px"),
macros::button_link(href="defguard://addinstance?token=" ~ token ~ "&url=" ~ enrollment_url, text="Enroll with desktop client"),
] %}
{{ macros::text_section(content_array=section_content)}}
{% endblock %}
