{#
Requires context:
mfa_method -> what method was activated
#}
{% extends "base" %}
{% import "macros" as macros %}
{% block mail_content %}
{% set section_content = [macros::paragraph(content="A Multi-Factor Authorization method: " ~ mfa_method ~ " has been
activated in your account.", align="center")] %}
{{ macros::text_section(content_array=section_content) }}
{% endblock %}
