### DB configuration ###
DEFGUARD_DB_HOST="localhost"
DEFGUARD_DB_PORT=5432
DEFGUARD_DB_NAME="defguard"
DEFGUARD_DB_USER="defguard"
DEFGUARD_DB_PASSWORD="defguard"
# for SQLX CLI
DATABASE_URL="postgresql://defguard:defguard@localhost/defguard"

### HTTP Port ###
DEFGUARD_HTTP_PORT=8000

### GRPC Port ###
DEFGUARD_GRPC_PORT=50055
# DEFGUARD_GRPC_BIND_ADDRESS=
# DEFGUARD_HTTP_BIND_ADDRESS=

### GRPC TLS (optional) ###
# DEFGUARD_GRPC_CERT=
# DEFGUARD_GRPC_KEY=

### Logging ###
DEFGUARD_LOG_LEVEL=info

### OpenID Connect ###
# DEFGUARD_OPENID_KEY=

# For localhost only:
# DEFGUARD_COOKIE_INSECURE=true

### Docker-compose images ###
IMAGE_TAG=dev