### DB configuration ###
DEFGUARD_DB_HOST="localhost"
DEFGUARD_DB_PORT=5432
DEFGUARD_DB_NAME="defguard"
DEFGUARD_DB_USER="defguard"
DEFGUARD_DB_PASSWORD="defguard"
# for SQLX CLI
DATABASE_URL="postgresql://defguard:defguard@localhost/defguard"

### GRPC Port ###
DEFGUARD_GRPC_PORT=50055

### Logging ###
DEFGUARD_LOG_LEVEL=info

# For localhost only:
# DEFGUARD_COOKIE_INSECURE=true
