[Unit]
Description=defguard core service
Documentation=https://docs.defguard.net/
Wants=network-online.target
After=network-online.target

[Service]
DynamicUser=yes
User=defguard
ExecReload=/bin/kill -HUP $MAINPID
EnvironmentFile=/etc/defguard/core.conf
ExecStart=/usr/bin/defguard
KillMode=process
KillSignal=SIGINT
LimitNOFILE=65536
LimitNPROC=infinity
Restart=on-failure
RestartSec=2
TasksMax=infinity
OOMScoreAdjust=-1000

[Install]
WantedBy=multi-user.target
