services:
  core:
    # image: ghcr.io/defguard/defguard:current
    # image: ghcr.io/defguard/defguard:2d8245f42e928a55a37d5a8b5450dd15d5112438-amd64
    # image: ghcr.io/defguard/defguard:1.3.1
    image: ghcr.io/defguard/defguard:fix-e2e
    # build:
    #   context: .
    #   dockerfile: Dockerfile
    environment:
      DEFGUARD_DEFAULT_ADMIN_PASSWORD: pass123
      DEFGUARD_COOKIE_INSECURE: true
      DEFGUARD_COOKIE_DOMAIN: localhost
      DEFGUARD_LOG_LEVEL: debug
      DEFGUARD_SECRET_KEY: aa5a506b11d719dd7170f57f5d9947faf8eb0bc2be1325e42aa0237c3dcfd26456e73dff9eef3b12c7bcf8711b45e3e703d8e21ee1c08520f5e12e3f5772da94
      DEFGUARD_AUTH_SECRET: defguard-auth-secret
      DEFGUARD_GATEWAY_SECRET: defguard-gateway-secret
      DEFGUARD_YUBIBRIDGE_SECRET: defguard-yubibridge-secret
      DEFGUARD_DB_HOST: db
      DEFGUARD_DB_PORT: 5432
      DEFGUARD_DB_USER: defguard
      DEFGUARD_DB_PASSWORD: defguard
      DEFGUARD_DB_NAME: defguard
      DEFGUARD_URL: http://localhost:8000
      DEFGUARD_PROXY_URL: http://proxy:50051
      RUST_BACKTRACE: 1
    ports:
      - "8000:8000"
    depends_on:
      - db

  db:
    image: postgres:15-alpine
    environment:
      POSTGRES_DB: defguard
      POSTGRES_USER: defguard
      POSTGRES_PASSWORD: defguard
    ports:
      - "5432:5432"

  proxy:
    image: ghcr.io/defguard/defguard-proxy:current
    ports:
      - "8080:8080"
    environment:
      DEFGUARD_PROXY_GRPC_PORT: 50051
      RUST_BACKTRACE: 1
