@use '@shared/scss/base/variables' as v;
@use '@shared/scss/helpers/bootstrap' as bs;
@use '@shared/scss/helpers/mixins' as mix;

.users-list-mobile {
  max-height: calc(100% - 125px);
  height: calc(100% - 125px);
  overflow-y: auto;
  overflow-x: hidden;
  width: calc(100% - 0.8rem);
  margin-right: 0.8rem;
  box-sizing: border-box;
  padding-left: 2rem;
  padding-right: 0.8rem;
  padding-bottom: 2rem;

  .row {
    position: relative;

    &:not(:last-of-type) {
      margin-bottom: 1rem;
    }

    .user-container {
      border-radius: 1.5rem;
      background-color: v.$white;
      width: calc(100% - 9px);
      margin-right: 9px;

      .top {
        height: 60px;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        align-content: center;
        justify-content: flex-start;
        box-sizing: border-box;
        padding: 0 1rem;

        .user-initials-box {
          margin-left: 1rem;
          user-select: none;
        }

        .collapse-icon-container {
          @include mix.icon-container;

          cursor: pointer;
        }

        .username {
          margin-left: 1rem;
          @include mix.text-weight(medium);

          color: v.$text-main;
          font-size: 1.3rem;
          line-height: 1.5rem;
          text-transform: capitalize;
          cursor: pointer;
          user-select: none;
          flex: 1;
        }

        & > button {
          margin-left: auto;
        }

        .user-edit {
          @include mix.icon-container;

          border: none;
          background-color: transparent;
        }
      }

      .user-details-collapse {
        box-sizing: border-box;
        width: 100%;
        height: auto;
        padding: 1.7rem 1rem;

        & > div {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          align-content: flex-start;
          justify-content: center;
          row-gap: 0.6rem;

          & > label {
            font-family: Roboto;
            font-size: 1.2rem;
            @include mix.text-weight(medium);

            color: v.$gray-light;
            line-height: 1.4rem;
          }

          & > p {
            font-family: Roboto;
            font-size: 1.5rem;
            line-height: 1.8rem;
            color: v.$text-main;
            @include mix.text-weight(medium);
          }
        }
      }
    }
  }
}
