@use '../../../scss/helpers' as *;
@use '../../../scss/base/variables' as v;

.modal {
  &.change-wallet {
    height: 100%;
    padding: 0;

    @include media-breakpoint-up(md) {
      transform: translateY(207px);
    }

    .modal-content {
      box-sizing: border-box;
      @include media-breakpoint-down(md) {
        width: 100%;
        height: 100%;
      }
      @include media-breakpoint-up(md) {
        width: 502px;
        height: 600px;
        padding: 4rem 3rem;
        display: flex;
        flex-direction: column;
      }

      & > header {
        display: flex;
        flex-direction: row;
        align-items: center;
        align-content: center;
        justify-content: flex-start;
        @include media-breakpoint-down(md) {
          box-sizing: border-box;
          padding: 0 2.1rem 0 2rem;
          height: 70px;
          border-bottom: 1px solid var(--gray-border);
          margin-bottom: 3rem;

          .icon-button {
            margin-left: auto;
          }
        }
        @include media-breakpoint-up(md) {
          margin-bottom: 4rem;

          .icon-button {
            display: none;
          }
        }

        .title {
          @include header;

          font-size: 2rem;
          line-height: 2.8rem;
          color: v.$text-main;
        }
      }

      & > form {
        display: flex;
        flex: 1;
        flex-direction: column;
        width: 100%;
        @include media-breakpoint-down(md) {
          padding: 0 2.1rem 0 2rem;
          box-sizing: border-box;
        }

        .form-content {
          display: flex;
          flex: 1;
        }

        .labeled-input {
          display: flex;
          flex-direction: column;
          row-gap: 1.5rem;
          align-items: center;
          align-content: center;
          justify-content: center;
          @include media-breakpoint-down(md) {
            row-gap: 1rem;
          }

          label {
            display: block;
            @include poppins;
            @include text-weight(medium);

            font-size: 1.5rem;
            line-height: 2.3rem;
            color: v.$text-main;
            width: 100%;
            text-align: left;
          }

          .input-container {
            width: 100%;
          }
        }

        & > .controls {
          display: flex;
          flex-direction: row;
          align-content: center;
          align-items: center;
          justify-content: flex-end;
          width: 100%;
          margin-top: 1.5rem;
          @include media-breakpoint-down(md) {
            margin-top: 0.5rem;

            button {
              width: 100%;

              &:first-of-type {
                display: none;
              }
            }
          }
          @include media-breakpoint-up(md) {
            column-gap: 2.2rem;

            button {
              width: 100%;
            }
          }
        }
      }
    }
  }
}

.wallet-provider-list {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 5px;
  max-height: 300px;
  padding-right: 10px;
  padding-left: 10px;
  overflow-y: scroll;

  @include media-breakpoint-down(md) {
    height: 100%;
    max-height: max-content;
  }

  &-item {
    display: flex;
    width: 100%;
    height: 60px;
    box-sizing: border-box;
    padding: 0 1.4rem;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
    background-color: v.$white;
    border-radius: 15px;
    border: 1px solid var(--gray-border);
    padding-right: 30px;
    padding-left: 20px;
    margin-bottom: 11px;
    cursor: pointer;

    &.disabled {
      cursor: not-allowed;
      background: var(--gray-border-dark);
    }

    &:not(.disabled):hover {
      border-color: v.$gray-lighter;

      .options {
        .icon-button {
          opacity: 1;
        }
      }
    }

    &-icon {
      width: 35px;
      justify-content: center;
      display: flex;
    }

    &-text {
      flex: 1;
      color: v.$text-main;
      margin-left: 20px;

      &.disabled {
        color: v.$gray-light;
      }
    }

    &-right {
      color: v.$gray-dark;
      font-size: 1.2rem;
    }
  }
}

.signing-loader {
  margin-top: 50px;

  &-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &-header {
    margin-bottom: 10px;
    text-align: center;
  }

  &-text {
    text-align: center;
    margin-bottom: 60px;
    color: v.$gray-dark;
    font-size: 1.5rem;
  }
}
