@use './variables/colors' as c;
@use '../global/mixins' as *;

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  @include bg-opacity(c.$gray-light, 0.4);

  border-radius: 15px;

  &:hover {
    @include bg-opacity(c.$gray-light, 1);
  }
}
