@use '../../../scss/helpers/' as *;

.content-card {
  display: flex;
  flex-flow: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  padding: 0;

  & > header,
  & > .content,
  & > .footer {
    box-sizing: border-box;
    padding: 0 2rem;
  }

  .divider {
    margin: 0 2rem;
    width: calc(100% - 4rem);
  }

  & > header {
    width: 100%;
    height: 60px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;

    & > h3 {
      @include small-header;
    }
  }

  & > .content {
    width: 100%;
    box-sizing: border-box;
    padding: 2rem;
    display: flex;
    flex-flow: column;
    align-items: center;
    align-content: center;
    justify-content: center;

    p,
    span,
    ul,
    li,
    a {
      @include typography-legacy(15px, 23px, regular, var(--text-main));
      @include poppins;

      text-align: center;
    }

    a {
      text-decoration: underline;
      text-decoration-color: var(--text-main);
    }

    & > div {
      display: flex;
      flex-flow: column;
      align-items: center;
      align-content: center;
      justify-content: center;
    }
  }

  & > .footer {
    height: 72px;
    display: flex;
    flex-flow: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin: auto;
    text-align: center;

    p {
      @include typography-legacy(12px, 20px, regular, var(--gray-dark));
    }
  }
}
