@use '@shared/scss/base/variables' as v;
@use '@shared/scss/helpers/mixins' as mix;

.user-initials-box {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  border: 0 solid transparent;
  border-radius: 1rem;
  cursor: pointer;

  &.small {
    @include mix.text-weight(semiBold);
    @include mix.poppins;

    height: 3rem;
    width: 3rem;
    font-size: 1.2rem;
    line-height: 1.4;
  }

  &.big {
    @include mix.text-weight(semiBold);
    @include mix.poppins;

    height: 4rem;
    width: 4rem;
    font-size: 1.5rem;
  }
}
