/* poppins-100 - latin */
@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 100;
  src: local(''), url('@fonts/Poppins/Poppins-Thin.woff2') format('woff2');
}

/* poppins-100italic - latin */
@font-face {
  font-family: Poppins;
  font-style: italic;
  font-weight: 100;
  src: local(''), url('@fonts/Poppins/Poppins-ThinItalic.woff2') format('woff2');
}

/* poppins-300 - latin */
@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  src: local(''), url('@fonts/Poppins/Poppins-Light.woff2') format('woff2');
}

/* poppins-300italic - latin */
@font-face {
  font-family: Poppins;
  font-style: italic;
  font-weight: 300;
  src: local(''),
    url('@fonts/Poppins/Poppins-LightItalic.woff2') format('woff2');
}

/* poppins-regular - latin */
@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  src: local(''), url('@fonts/Poppins/Poppins-Regular.woff2') format('woff2');
}

/* poppins-italic - latin */
@font-face {
  font-family: Poppins;
  font-style: italic;
  font-weight: 400;
  src: local(''), url('@fonts/Poppins/Poppins-Italic.woff2') format('woff2');
}

/* poppins-500 - latin */
@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  src: local(''), url('@fonts/Poppins/Poppins-Medium.woff2') format('woff2');
}

/* poppins-500italic - latin */
@font-face {
  font-family: Poppins;
  font-style: italic;
  font-weight: 500;
  src: local(''),
    url('@fonts/Poppins/Poppins-MediumItalic.woff2') format('woff2');
}

/* poppins-600 - latin */
@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  src: local(''), url('@fonts/Poppins/Poppins-SemiBold.woff2') format('woff2');
}

/* poppins-600italic - latin */
@font-face {
  font-family: Poppins;
  font-style: italic;
  font-weight: 600;
  src: local(''),
    url('@fonts/Poppins/Poppins-SemiBoldItalic.woff2') format('woff2');
}

/* poppins-700 - latin */
@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 700;
  src: local(''), url('@fonts/Poppins/Poppins-Bold.woff2') format('woff2');
}

/* poppins-700italic - latin */
@font-face {
  font-family: Poppins;
  font-style: italic;
  font-weight: 700;
  src: local(''), url('@fonts/Poppins/Poppins-BoldItalic.woff2') format('woff2');
}
