#wizard-manual-network-configuration {
  box-shadow: none;

  @include media-breakpoint-up(xl) {
    box-shadow: var(--card-shadow);
  }

  & > form {
    @include media-breakpoint-up(xl) {
      box-sizing: border-box;
      padding: 47px 55px;
    }

    & > * {
      width: 100%;
    }

    & > .message-box-spacer {
      padding-bottom: 25px;
    }

    & > .form-checkbox {
      margin-bottom: 25px;
    }
  }

  #location-mfa-mode-explain-message-box {
    ul {
      list-style-position: inside;
      margin-top: 8px;

      li {
        p {
          display: inline;
        }
      }
    }
  }

  .divider-header {
    padding-bottom: var(--spacing-s);

    .inner {
      display: flex;
      flex-flow: row;
      align-items: center;
      justify-content: flex-start;
      border-bottom: 1px solid var(--border-primary);
    }

    .header {
      @include typography(app-side-bar);
    }
  }
}
