@use '@scss/helpers' as *;

#wizard-manual-network-configuration {
  box-shadow: none;

  @include media-breakpoint-up(xl) {
    box-shadow: var(--card-shadow);
  }

  & > form {
    @include media-breakpoint-up(xl) {
      box-sizing: border-box;
      padding: 47px 55px;
    }

    & > * {
      width: 100%;
    }

    & > .message-box-container {
      margin-bottom: 25px;
    }
  }
}
