@use '../../../../shared/scss/helpers' as *;

#user-yubikeys {
  & > header {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    width: 100%;

    & > .helper {
      margin-left: 1rem;
    }

    & > h2 {
      @include card-header;
    }

    & > .edit-button {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
    }
  }

  & > .keys {
    display: flex;
    flex-flow: column nowrap;
    row-gap: 1.5rem;
  }

  & > .add-component {
    height: 80px;
  }
}
