@use '../../../shared/scss/helpers' as *;

#settings-page {
  .branding {
    & > .card {
      box-sizing: border-box;
      padding: 2.5rem 2rem 2.5rem 1.5rem;

      & > form {
        align-items: stretch;
        justify-content: flex-start;
      }

      & > header {
        display: flex;
        flex-flow: row nowrap;
        align-content: center;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;
        margin-bottom: 1.5rem;

        & > h3 {
          @include small-header;
        }

        & > .controls {
          margin-left: auto;
        }
      }
    }
  }
}
