@use '@scss/helpers' as *;

@mixin list-layout {
  @include media-breakpoint-up(lg) {
    grid-template-columns: 250px 200px 1fr 62px;
    @for $i from 1 through 4 {
      & > :nth-child(#{$i}) {
        grid-column: $i;
      }
    }
  }
}

#provisioners-page {
  .provisioners-list {
    .headers {
      @include list-layout;
    }

    .scroll-container {
      box-sizing: border-box;
      padding-bottom: 4rem;
      margin-right: 5px;
    }

    .default-row {
      display: inline-grid;
      grid-template-rows: 60px;
      align-items: center;
      box-sizing: border-box;
      padding: 0 2rem;
      @include list-layout;

      & > :nth-child(1),
      & > :nth-child(2) {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        align-content: center;
        justify-content: flex-start;
      }

      & > :nth-child(1) {
        column-gap: 1rem;
      }

      & > :nth-child(2) {
        column-gap: 5px;
      }

      & > * {
        & > span {
          @include regular-text;
          @include text-weight(medium);

          color: var(--gray-dark);
          &.connected {
            color: var(--text-main);
          }
        }
      }
    }
  }
}
