@use '@shared/scss/base/variables' as v;
@use '@shared/scss/helpers/mixins' as mix;
@use '@shared/scss/helpers/bootstrap' as bs;

.modal {
  &.confirm {
    @include bs.media-breakpoint-down(md) {
      min-height: 100%;
      padding: 0;
    }
    @include bs.media-breakpoint-up(md) {
      transform: translateY(221px);
    }

    .modal-content {
      border-radius: 1.5rem;
      @include bs.media-breakpoint-down(md) {
        width: calc(100% - 40px);
        box-sizing: border-box;
        padding: 3rem 2rem 4rem;
        align-self: center;
      }
      @include bs.media-breakpoint-up(md) {
        padding: 4rem 3rem;
        width: 503px;
      }

      .title {
        color: v.$text-main;
        font-size: 2rem;
        line-height: 3rem;
        text-align: center;
        @include mix.header;

        margin-bottom: 3rem;
      }

      .subtitle {
        font-size: 1.5rem;
        line-height: 2.4rem;
        color: v.$gray-darker;
        text-align: center;
        margin-bottom: 3.2rem;
      }

      .controls {
        display: flex;
        flex-direction: row;
        align-items: center;
        align-content: center;
        justify-content: flex-start;
        @include bs.media-breakpoint-down(md) {
          row-gap: 2rem;
          flex-wrap: wrap-reverse;

          button {
            width: 100%;
          }
        }
        @include bs.media-breakpoint-up(md) {
          column-gap: 2.2rem;

          button {
            width: 100%;
            height: 50px;
          }
        }
      }
    }
  }
}
