.loader-page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  background-color: var(--surface-primary);
  position: absolute;
  inset: 0;
  z-index: 10000000000000;
  gap: 4rem;

  .logo-container {
    display: flex;
    background-color: transparent;
  }

  .loader-spinner {
    path {
      stroke: var(--text-button-secondary);
    }
  }
}
