@use '@scss/helpers' as *;

#wizard-network-import {
  box-shadow: none;

  @include media-breakpoint-up(xl) {
    box-sizing: border-box;
    padding: 55px;
    box-shadow: var(--card-shadow);
  }

  & > form {
    & > * {
      width: 100%;
    }

    & > .message-box {
      margin-bottom: 25px;
    }

    & > .upload {
      width: 120px;
      align-self: flex-start;
    }
  }
}
