@use '@shared/scss/base/variables' as v;
@use '@shared/scss/helpers/bootstrap' as bs;
@use '@shared/scss/helpers/mixins' as mix;

.modal {
  &.vpn-configuration {
    margin: 4rem;
  }

  .white-middle-modal {
    &.vpn-help {
      margin-bottom: 5.5rem;
      width: 645px;
      padding: 3rem 3rem 4rem;

      & > h3 {
        margin-bottom: 2rem;
        display: flex;
        justify-content: space-between;
        @include mix.text-weight(semiBold);
      }

      & > .message-box {
        margin-bottom: 4rem;
      }

      & > .step {
        width: 100%;
        margin-bottom: 4rem;

        h5 {
          margin-bottom: 1rem;
          font-family: Roboto;
          font-size: 1.2rem;
          line-height: 2.2rem;
          color: v.$text-main;
          @include mix.text-weight(bold);
        }

        h4 {
          font-family: Roboto;
          @include mix.text-weight(bold);

          color: v.$text-main;
          font-size: 1.5rem;
          line-height: 2.4rem;
        }

        & > p {
          margin-bottom: 2rem;
          color: v.$gray-dark;
          font-size: 1.5rem;
          font-family: Roboto;
          line-height: 2.4rem;
          @include mix.text-weight(regular);

          &:last-child {
            margin: 0;
          }
        }

        & > button {
          height: 40px;
          padding: 0 2rem;

          &.copy {
            min-width: 143.53px;
          }
        }

        & > .message-box {
          margin-bottom: 2rem;
        }

        & > .wireguard-config {
          display: flex;
          flex-direction: column;
          align-items: center;
          align-content: center;
          justify-content: center;
          background-color: v.$bg-light;
          border: 2px solid v.$gray-border;
          box-sizing: border-box;
          width: 100%;
          height: auto;
          margin-bottom: 2rem;
          padding: 2rem;

          p {
            margin: 0;
            width: 100%;
            text-align: left;
            font-size: 1.5rem;
            line-height: 2.4rem;
            color: v.$text-main;
            font-family: 'Source Code Pro';
            letter-spacing: 0;

            span {
              &.ip {
                color: #0e0eff;
              }

              &.var {
                color: #ab2393;
              }

              &.scope {
                color: #326d74;
              }

              &.var,
              &.scope {
                font-weight: 700;
              }
            }
          }
        }

        &:last-of-type {
          margin: 0;
        }
      }

      & > .controls {
        margin-bottom: 4rem;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-content: center;
        align-items: center;
        justify-content: flex-start;
        gap: 3rem;
        height: auto;

        button {
          height: 31px;
          box-sizing: border-box;
          border: 2px solid transparent;
          border-bottom: 2px solid v.$gray-light;
          background-color: transparent;
          padding: 0;
          transition-duration: 250ms;
          transition-property: border-bottom-color;
          transition-timing-function: ease;
          cursor: pointer;

          span {
            font-family: Roboto;
            font-size: 1.5rem;
            color: v.$gray-light;
            transition-duration: 250ms;
            transition-property: color;
            transition-timing-function: ease;
            @include mix.text-weight(medium);
          }

          &.active {
            border-bottom-color: v.$primary;

            span {
              color: v.$text-main;
            }
          }
        }
      }
    }
  }
}
