#acl-create-page {
  .labeled-checkbox {
    label {
      @include typography(app-modal-1);
      color: var(--text-body-primary);
    }
  }

  & > .page-content {
    box-sizing: border-box;
    padding: var(--spacing-xl);

    & > .header {
      display: flex;
      flex-flow: row;
      align-items: center;
      justify-content: flex-start;
      padding-bottom: var(--spacing-m);
      gap: var(--spacing-s);

      h1 {
        @include typography(app-title);
      }

      & > .btn {
        justify-self: flex-end;
      }
    }
  }
}

#acl-sections {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: var(--spacing-m);
  row-gap: var(--spacing-s);

  h3 {
    text-wrap: nowrap;
    @include typography(app-side-bar);
  }

  .card {
    .input,
    .dialog-select-spacer,
    & > .header {
      padding-bottom: var(--spacing-s);
    }

    .header {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: flex-start;
      column-gap: 8px;
      width: 100%;
      min-height: 23px;

      hr {
        width: 100%;
        align-self: flex-end;
        border: 0.5px solid var(--border-primary);
        margin: 0;
        padding: 0;
      }
    }
  }
}
