#acl-create-page {
  .labeled-checkbox,
  .form-checkbox {
    label {
      @include typography(app-modal-1);
      color: var(--text-body-primary);
    }
  }

  & > .page-content {
    box-sizing: border-box;
    padding: var(--spacing-xl);

    & > .header {
      display: flex;
      flex-flow: row;
      align-items: center;
      justify-content: flex-start;
      padding-bottom: var(--spacing-m);
      gap: var(--spacing-s);

      h1 {
        @include typography(app-title);
      }

      & > .btn {
        justify-self: flex-end;
      }
    }
  }
}

#acl-sections {
  width: 100%;
  display: grid;
  column-gap: var(--spacing-m);
  row-gap: var(--spacing-s);
  grid-template-columns: 1fr;
  grid-template-areas:
    'rule'
    'destination'
    'allowed'
    'denied';

  @include media-breakpoint-up(xl) {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      'rule allowed'
      'destination denied';
  }

  #rule-card {
    grid-area: rule;
  }

  #allowed-card {
    grid-area: allowed;
  }

  #destination-card {
    grid-area: destination;
  }

  #denied-card {
    grid-area: denied;
  }

  h3 {
    text-wrap: nowrap;
    @include typography(app-side-bar);
  }

  .card {
    .input,
    .dialog-select-spacer,
    .labeled-checkbox,
    .form-checkbox,
    .spacer,
    & > .header {
      &:not(:last-child) {
        padding-bottom: var(--spacing-s);
      }
    }

    .header {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: flex-start;
      column-gap: 8px;
      width: 100%;
      min-height: 23px;

      hr {
        width: 100%;
        align-self: flex-end;
        border: 0.5px solid var(--border-primary);
        margin: 0;
        padding: 0;
      }
    }
  }
}
