:root {
  --input-select: #77c9ff;
  --input-warning: #dc8787;
  --white: #fff;
  --gray-border-dark: #e8e8e8;
  --gray-border: #e8e8e8;
  --bg-light: #f9f9f9;
  --text-main: #222;
  --gray-lighter: #cbd3d8;
  --gray-light: #899ca8;
  --gray-dark: #617684;
  --gray-darker: #485964;
  --success: #14bc6e;
  --success-dark: #10a15e;
  --error: #cb3f3f;
  --error-dark: #b53030;
  --primary: #0c8ce0;
  --primary-dark: #0876be;
  --light-green-bg: #eefff7;
  --light-red-bg: #fff5f5;
  --light-gray-bg: #f1f1f1;
  --light-orange-bg: #fbf5e7;
  --warning: #c8a043;
  --separator-stroke: #c4c4c4;
  --card-shadow: 0px 12px 24px 0px #00000014;
  --transparent: rgb(0 0 0 / 0%);
  --inactive-box-shadow: 0 6px 10px rgb(0 0 0 / 0%);
  --buttons-box-shadow: 0 6px 10px rgb(0 0 0 / 10%);
  --floating-shadow: 0 5px 7.5px rgb(0 0 0 / 7.84%);
  --button-shadow-gray: 0px 6px 4px 0px rgba(49, 49, 49, 0.25);
  --button-shadow-red: 0px 6px 4px 0px rgba(203, 63, 63, 0.4);
  --button-shadow-green: 0px 6px 4px 0px rgba(20, 188, 110, 0.4);
  --button-shadow-blue: 0px 6px 4px 0px rgba(12, 140, 224, 0.4);
}
