//                                 ▒ ▒▓▓▓▒
//                                ▓██▓ ▒██████▓▒▒
//                               ██████▓ ▓██████████▓▓▒
//                              █████████▒ ▓█████████████▒
//                            ▒████████████▒ ▓█████████████▓
//                           ▒███████████████▒ ▓██████████████▒
//                          ▓██████████████████▒ ▓██████████████▓
//                         ▓█████████████████████▒ ▓██████████████▓▒
//                        █████████████████████████▒ ████████████████▒
//                       ████████████████████████████▒▒████████████████▓
//                     ▒██████████████████████████████▓ ▒█████████████▓▒
//                    ▒█████████████████████████████████████████████▓
//                     ▒██████████████████████████████████████████▒
//                       ▓██████████████████████████████████████▒
//                        ▒██████████████████████████████████▓
//                          ▓██████████████████████████████▓
//                           ▒███████████████████████████▒
//                             ▓██████████████████████▓▒
//                              ▒███████████████████▓
//                                ▓██████████████▓▒
//                                 ▒███████▓▓▒
//                                   ▓▒▒
//
//
//
//  ▓▓▓                                                ░▓▓▓▓░  ▓▓▓▓▓
//  ███░                                                ▒██▒   █████
//  █████   ░████████░     ▒████████░   ▓████▓██████░  ▒████░ ████████   ░████████▓
//  ████▓ ░████████████  ▒████████████  ▓████████████  ▒████░ ████████  ██████▓█████
//  ███░  █████░░░▓████░░█████   ░█████ ▓████░  █████░ ▒████░  █████   █████▓░░░████▓
//  ███░  █████████████▓▒████▓    █████░▓████   ▓████░ ▒████░  █████   █████████████▓
//  ███▓  ▓████▓░ ░▒▒░  ░█████░  ▓█████ ▓████   ▓████░ ▒████░  █████░  ▓████▓░ ░▒▒░
//  █████▓ ▓██████████▓  ░████████████  ▓████   ▓████░ ▒████░  ▓██████  ▓███████████
//  ▒████▓   ▓██████▓░     ░▓██████▓░   ░████   ▓████░ ▒████░   ░█████    ▓▓█████▓░
// This file was generated with figma-to-scss script
// https://github.com/teonite/figma-to-scss

$greyscale-80: rgba(47, 50, 51, 1);
$greyscale-20: rgba(232, 232, 232, 1);
$greyscale-0: rgba(255, 255, 255, 1);
$greyscale-90: rgba(34, 34, 34, 1);
$greyscale-70: rgba(72, 89, 100, 1);
$brand-dark-warning-tertiary: rgba(48, 39, 18, 1);
$brand-dark-positive-tertiary: rgba(24, 61, 44, 1);
$greyscale-40: rgba(196, 196, 196, 1);
$brand-default-main: rgba(12, 140, 224, 1);
$greyscale-60: rgba(97, 118, 132, 1);
$greyscale-30: rgba(203, 211, 216, 1);
$greyscale-10: rgba(249, 249, 249, 1);
$brand-default-warning: rgba(184, 143, 48, 1);
$brand-light-error-tertiary: rgba(252, 238, 238, 1);
$brand-light-positive-tertiary: rgba(215, 248, 233, 1);
$greyscale-100: rgba(0, 0, 0, 1);
$brand-dark-error-tertiary: rgba(57, 27, 27, 1);
$brand-light-warning-tertiary: rgba(251, 245, 231, 1);
$brand-default-error-x: rgba(203, 63, 63, 1);
$greyscale-50: rgba(137, 156, 168, 1);
$brand-hover-positive-secondary: rgba(16, 161, 94, 1);
$brand-hover-error-secondary: rgba(181, 48, 48, 1);
$brand-hover-main-secondary: rgba(8, 118, 190, 1);
$brand-default-error: rgba(203, 63, 63, 1);
$brand-default-positive: rgba(20, 188, 110, 1);
