@use '../../shared/scss/helpers' as *;
@use '@shared/scss/base/variables' as v;

#settings-page {
  box-sizing: border-box;
  min-height: 100vh;
  max-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;

  @include media-breakpoint-up(lg) {
    padding: 40px 60px;
  }

  & > header {
    display: inline-grid;
    grid-template-rows: 1fr;
    grid-template-columns: auto 1fr;
    grid-column-gap: 14px;
    width: 100%;
    margin-bottom: 40px;

    h1 {
      grid-row: 1;
      grid-column: 1;
      user-select: none;
      @include page-header;
    }
  }

  & > .content {
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: 1fr;
    grid-template-areas:
      'left'
      'right';

    @include media-breakpoint-up(lg) {
      grid-template-rows: repeat(2, 1fr);
      grid-template-columns: 1fr 369px;
      grid-template-areas: 'left right';
      column-gap: 35px;
    }

    @include media-breakpoint-up(xxl) {
      grid-template-rows: 1fr;
      grid-template-columns: 800px 650px;
      grid-template-areas: 'left right';
    }

    & > div > section > header {
      margin-bottom: 1.2rem;

      @include media-breakpoint-up(md) {
        margin-bottom: 2rem;
      }
    }

    .left {
      grid-area: left;
      display: flex;
      flex-flow: column nowrap;
      row-gap: 3.5rem;
      & > h2 {
        @include card-header;
        display: flex;
        align-items: center;
        gap: 10px;
      }
    }
    .custom-select {
      width: 20%;
    }

    .right {
      grid-area: right;
      display: flex;
      flex-flow: column nowrap;
      row-gap: 3.5rem;
      h2 {
        @include card-header;
      }
      .logo-card {
        min-height: 170px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 4rem;
        img {
          width: 40%;
          height: 40%;
        }
      }
    }
  }
}
