@use '../../shared/scss/helpers' as *;

#settings-page {
  & > .page-content {
    overflow-y: auto;
    border-radius: 0 15px 15px 15px;
    box-sizing: border-box;
    & > .settings-card {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto auto;
      grid-template-areas:
        'left'
        'right';
      position: relative;
      padding: 30px 15px;
      row-gap: 30px;

      @include media-breakpoint-up(lg) {
        padding: 40px 60px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(2, auto);
        grid-template-areas:
          'header header'
          'left right';
        column-gap: 60px;
        row-gap: 50px;
      }

      @include media-breakpoint-up(xxl) {
        padding: 40px 80px 80px 60px;
      }

      & > header {
        display: none;

        @include media-breakpoint-up(lg) {
          display: flex;
          grid-area: header;
        }
      }

      & > .left {
        grid-area: left;
      }

      & > .right {
        grid-area: right;
      }

      h1,
      h2,
      h3 {
        user-select: none;
      }

      h2 {
        @include card-header;
      }

      h1 {
        @include page-header;
      }

      & > .left {
        display: flex;
        flex-flow: column;
        width: 100%;

        @include media-breakpoint-down(lg) {
          row-gap: 30px;
        }
      }

      & > .right {
        display: flex;
        flex-flow: column;
        row-gap: 30px;

        @include media-breakpoint-up(lg) {
          row-gap: 20px;
        }
      }

      & > .left,
      & > .right {
        & > * {
          &:not(.card) {
            & > header {
              display: flex;
              flex-flow: row nowrap;
              column-gap: 10px;
              align-items: center;
              align-content: center;
              justify-content: flex-start;
              margin-bottom: 15px;

              @include media-breakpoint-up(lg) {
                margin-bottom: 25px;
              }
            }
          }
        }
      }
    }
  }
}
