@use '@scssutils' as *;

#settings-page {
  .page-content {
    box-sizing: border-box;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;

    @include media-breakpoint-up(lg) {
      padding: 64px 70px;
    }

    h1 {
      display: none;
      margin-bottom: 50px;

      @include typography(app-title);

      color: var(--text-body-primary);

      @include media-breakpoint-up(lg) {
        display: block;
      }
    }

    h2 {
      @include typography(app-body-1);

      color: var(--text-body-primary);
    }

    h3 {
      @include typography(modal-title);

      color: var(--text-body-primary);
    }

    & > .loader-spinner {
      padding-top: 10vh;
      width: 100% !important;
    }

    section {
      & > header {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: flex-start;
        gap: 10px;
        margin-bottom: 26px;

        & > .controls,
        .btn {
          margin-left: auto;
        }
        .btn {
          min-width: 130px;
        }
      }
    }

    .card {
      & > .controls {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: flex-start;

        column-gap: 10px;

        & > .btn {
          &:first-of-type {
            margin-left: auto;
          }
        }
      }
    }

    & > .settings-card {
      padding: 0;

      @include media-breakpoint-up(lg) {
        padding: 50px 20px;
        border-top-left-radius: 0;
      }

      @include media-breakpoint-up(xxl) {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 1fr 1fr;
        align-items: start;
        justify-items: center;
        row-gap: 48px;
        column-gap: 56px;
      }

      & > .left {
        grid-column: 1;
      }

      & > .right {
        grid-column: 2;
      }

      & > .left,
      & > .right {
        width: 100%;
        max-width: 750px;
        display: flex;
        flex-flow: column;
        row-gap: 48px;
      }

      .spinner-container {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 400px;
        grid-column: 1 / -1;
        width: 100%;
      }
    }
  }

  .license-not-required-container {
    grid-column: 1 / -1;
    width: 100%;

    @include media-breakpoint-down(xxl) {
      margin-bottom: 26px;
    }

    @include media-breakpoint-down(xl) {
      margin-top: 26px;
    }
  }
}
