@use '@shared/scss/base/variables' as v;
@use '@shared/scss/helpers/bootstrap' as bs;
@use '@shared/scss/helpers/mixins' as mix;

#wizard {
  & > .content {
    & > .steps-container {
      & > .network-import {
        @include bs.media-breakpoint-down(xl) {
          display: block;
          box-sizing: border-box;
          padding: 0 2rem;
          width: 100%;
        }
        @include bs.media-breakpoint-up(xl) {
          display: flex;
          flex-direction: column;
          align-items: center;
          align-content: center;
          justify-content: center;
          gap: 3rem;
          width: 100%;
          height: auto;
          padding: 3rem;
          position: relative;
        }
        & > .network-config {
          width: 100%;
          & > .card {
            padding: 1.5rem 3rem 4rem;

            & > form {
              justify-content: flex-start;
              align-content: flex-start;
              align-items: flex-start;

              & > .hidden {
                @include mix.visually-hidden;
              }

              & > label {
                margin-bottom: 1.2rem;
              }

              & > .input-container {
                width: 100%;
              }

              & > .message-box-container {
                &:not(:last-child) {
                  margin-bottom: 2.5rem;
                }
              }
            }
          }
        }
      }
    }
  }
}
