@use '@shared/scss/base/variables' as v;
@use '@shared/scss/helpers/mixins' as mix;
@use '@shared/scss/helpers/bootstrap' as bs;

#register-container {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
  width: 100%;
  position: relative;
  @include bs.media-breakpoint-up(lg) {
    width: 50%;
  }

  .login-link {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    box-sizing: border-box;
    height: 80px;
    padding: 0;
    margin: 0;
    padding-top: 2rem;
    padding-left: 2rem;

    & > div {
      display: flex;
      flex-direction: row;
      align-content: center;
      align-items: center;
      justify-content: flex-start;
      gap: 1rem;
      cursor: pointer;

      button {
        transition-property: box-shadow, background-color, border-color;
        transition-timing-function: ease-in-out;
        transition-duration: 250ms;
        box-sizing: border-box;
      }

      p {
        color: v.$gray-dark;
        font-size: 1.2rem;
        line-height: 1.4rem;
        @include mix.text-weight(medium);
      }
    }
    @include bs.media-breakpoint-up(lg) {
      padding-top: 4rem;
      padding-left: 4rem;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 100%;
    width: 100%;

    h1 {
      font-family: Poppins;
      @include mix.text-weight(semiBold);

      line-height: 4.2rem;
      font-size: 2.8rem;
      color: v.$text-main;
      margin-bottom: 1.2rem;
    }

    form {
      display: flex;
      flex-direction: column;
      align-content: flex-start;
      align-items: center;
      justify-content: center;
      gap: 2rem;
      width: 284px;
      height: auto;

      button {
        width: 100%;
        margin-top: 4rem;
      }

      .input-container {
        width: inherit;
      }

      input {
        width: 100%;
      }
    }

    a {
      text-decoration: none;
    }
  }
}
