#user-wallets {
  & > header {
    margin-bottom: 2rem;

    & > h2 {
      @include card-header;
    }
  }

  & > .skeletons {
    width: 100%;
    display: flex;
    flex-flow: column;
    row-gap: 20px;
    .react-loading-skeleton {
      height: 70px;
    }
  }

  & > .wallets {
    display: flex;
    flex-flow: column nowrap;
    row-gap: 1rem;
    margin-bottom: 1rem;

    @include media-breakpoint-up(md) {
      row-gap: 1.5rem;
      margin-bottom: 1.5rem;
    }
  }

  & > .add-component {
    height: 80px;
  }
}
