@use '@shared/scss/base/variables' as v;
@use '@shared/scss/helpers/bootstrap' as bs;
@use '@shared/scss/helpers/mixins' as mix;

#wizard {
  & > .content {
    & > .steps-container {
      .wizard-nav {
        @include bs.media-breakpoint-down(xl) {
          height: 90px;
          position: fixed;
          bottom: 0;
          left: 0;
          width: 100vw;
          background-color: v.$white;
          margin-bottom: 0;
          display: flex;
          flex-direction: column;
          align-items: center;
          align-content: center;
          justify-content: center;
          box-sizing: border-box;
          border-top: 1px solid v.$gray-border;
        }
        @include bs.media-breakpoint-up(xl) {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          align-content: center;
          justify-content: center;
          width: 100%;
          height: auto;
          gap: 0.5rem;
          margin-bottom: 4rem;
        }

        & > div {
          @include bs.media-breakpoint-down(xl) {
            height: 50px;
            width: 100%;
          }
          @include bs.media-breakpoint-up(xl) {
            display: flex;
            flex-direction: row;
            align-items: center;
            align-content: center;
            justify-content: center;
            width: 100%;
            height: auto;
          }

          h1 {
            font-size: 2.8rem;
            font-family: Poppins;
            @include mix.text-weight(semiBold);

            text-align: left;
            color: v.$text-main;
          }

          .controls {
            @include bs.media-breakpoint-down(xl) {
              display: grid;
              grid-auto-columns: 1fr;
              column-gap: 1.4rem;
              height: 100%;
              width: 100%;
              padding: 0 2rem;
              box-sizing: border-box;
            }
            @include bs.media-breakpoint-up(xl) {
              margin-left: auto;
              display: flex;
              flex-direction: row;
              gap: 2rem;
            }

            button {
              padding: 0 !important;
              line-height: 1.8rem;
              font-size: 1.5rem;
              @include bs.media-breakpoint-down(xl) {
                grid-row: 1;
                width: 100%;
                height: 100%;
              }
              @include bs.media-breakpoint-up(xl) {
                width: 140px;
                height: 50px;
              }

              .content {
                span {
                  text-decoration: none !important;
                  line-height: 1.8rem !important;
                  font-size: 1.5rem !important;
                }
              }

              &:nth-of-type(2) {
                .content {
                  svg {
                    path,
                    rect {
                      fill: v.$white !important;
                    }
                  }
                }
              }
            }

            &.no-back {
              [data-test='back'] {
                pointer-events: none;
                opacity: 0.4;

                .content {
                  span {
                    user-select: none;
                  }
                }
              }
            }

            &.no-forward {
              [data-test='finish'],
              [data-test='next'] {
                pointer-events: none;
              }

              [data-test='next'] {
                opacity: 0.4;

                .content {
                  span {
                    user-select: none;
                  }
                }
              }

              [data-test='finish'] {
                opacity: 0.7;

                .content {
                  span {
                    user-select: none;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
