#gateway-setup-modal .modal-content {
  .connection-status {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    column-gap: var(--spacing-2xl);
  }
}
