#edit-standalone-device-modal {
  width: 100%;
  max-width: 920px;

  .loader {
    width: 100%;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    min-height: 300px;
  }

  .controls {
    display: flex;
    width: 100%;
    gap: 20px;
    padding-top: 40px;
    box-sizing: border-box;
    padding-left: 30px;
    padding-right: 30px;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;

    @include media-breakpoint-up(lg) {
      flex-flow: row;
      align-items: center;
      justify-content: flex-start;
    }

    .btn {
      width: 100%;
      height: 47px;
    }

    &.solo {
      width: 100%;
      align-items: center;
      justify-content: center;

      .btn {
        width: 50%;
      }
    }
  }
}
