@use '@scssutils' as *;

#openid-settings,
#dirsync-settings,
#general-settings {
  .select {
    padding-bottom: var(--spacing-s);
  }

  #sync-not-supported {
    text-align: center;
    margin: var(--spacing-s) 0;
    color: var(--text-body-tertiary);
  }

  .hidden-input {
    display: none;
  }

  .file-upload-container {
    background-color: var(--surface-frame-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px dashed var(--border-primary);
    border-radius: 10px;
    position: relative;
    padding: var(--spacing-s);
    z-index: 0;
  }

  .file-upload-container.dragging {
    border-color: var(--border-secondary);
  }

  .file-upload {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    cursor: pointer;
  }

  .select-container {
    margin-bottom: 0;
  }

  .upload-label {
    display: flex;
    align-items: center;
    gap: var(--spacing-xs);
    cursor: pointer;

    p {
      color: var(--text-body-secondary);
      font-size: 15px;
    }

    & > svg {
      width: 20px;
      height: 20px;
      transform: rotate(180deg);
    }
  }

  .test-connection {
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }

  .labeled-checkbox {
    padding-bottom: var(--spacing-s);
  }
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  grid-column: 1 / -1;
  min-height: 300px;
}
