@use '@scss/helpers' as *;

#wizard-page {
  #wizard-nav {
    user-select: none;
    width: 100%;

    & > .top {
      display: none;

      @include media-breakpoint-up(lg) {
        display: flex;
        height: 40px;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        align-content: center;
        column-gap: 40px;
        margin-bottom: 40px;

        & > span {
          @include label-text;

          user-select: none;
        }
      }
    }

    & > .bottom {
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 60px;

      & > h1 {
        @include page-header;
      }

      & > .controls {
        display: flex;
        flex-flow: row nowrap;
        column-gap: 30px;
        margin-left: auto;

        & > .btn {
          height: 60px;

          &:nth-of-type(1) {
            width: 120px;
            max-width: 120px;
            min-width: 120px;
          }

          &:nth-of-type(2) {
            width: 170px;
            max-width: 170px;
            min-width: 170px;

            svg {
              rect {
                fill: var(--white);
              }
            }
          }
        }
      }
    }
  }
}
