@use '@scss/helpers' as *;

#network-overview-page {
  .page-content {
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 0;

    @include media-breakpoint-down(xl) {
      padding-top: 2rem;
      padding-bottom: 2rem;
      overflow: auto;
    }

    & > .mobile-options {
      display: flex;
      flex-direction: column;
      row-gap: 1.5rem;
      box-sizing: border-box;
      padding: 0 2rem;
      margin-bottom: 3rem;
      align-items: flex-end;

      & > .btn {
        width: 200px;
      }

      & > .select {
        width: 100%;
      }
    }

    & > header {
      margin-bottom: 2rem;
      box-sizing: border-box;
      @include media-breakpoint-up(md) {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
      }
      @include media-breakpoint-up(lg) {
        padding: 2rem 2rem 0;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        row-gap: 2rem;
      }

      @include media-breakpoint-up(xxl) {
        padding-top: 4rem;
        padding-left: 6rem;
        padding-right: 6rem;
        column-gap: 3rem;
        grid-template-rows: auto;
        grid-template-columns: auto 1fr;
      }

      h1 {
        @include typography(41px, 57px, semiBold, var(--text-main), 'Poppins');

        grid-column: 1;
        grid-row: 1;
      }

      & > .controls {
        @include media-breakpoint-up(lg) {
          display: flex;
          flex-flow: row nowrap;
          align-items: center;
          justify-content: flex-start;
          align-content: center;
          width: 100%;
          column-gap: 3rem;
          grid-row: 2;
          grid-column: 1;
        }
        @include media-breakpoint-up(xxl) {
          grid-row: 1;
          grid-column: 2;
        }

        & > .select {
          min-width: 200px;
          height: 40px;
        }

        & > button {
          margin-left: auto;
        }
      }
    }

    & > .overview-network-stats {
      @include media-breakpoint-down(xl) {
        margin-bottom: 1.5rem;
      }
      @include media-breakpoint-up(xl) {
        margin-bottom: 5rem;
      }
    }

    .bottom-row {
      @include media-breakpoint-down(xl) {
        display: block;
      }
      @include media-breakpoint-up(xl) {
        display: grid;
        flex-grow: 1;
        grid-template-columns: 1fr 369px;
        column-gap: 4rem;
        max-width: 100%;
        overflow: hidden;
        padding-right: 6rem;
      }

      & > .overview-connected-users {
        @include media-breakpoint-down(xl) {
          & > header,
          .connected-users {
            padding-left: 2rem;
            padding-right: 2rem;
            margin: auto;
          }
        }
        @include media-breakpoint-up(xl) {
          grid-column: 1;

          & > header,
          .connected-users {
            padding-left: 6rem;
          }
        }
      }

      & > .activity-stream {
        @include media-breakpoint-down(xl) {
          padding-left: 2rem;
          padding-right: 2rem;
        }
        @include media-breakpoint-up(xl) {
          grid-column: 2;
        }
      }
    }

    h1 {
      @include typography(41px, 57px, semiBold, var(--text-main), 'Poppins');
    }

    h2 {
      @include typography(20px, 28px, semiBold, var(--text-main), 'Poppins');
    }
  }
}
