@use '@shared/scss/base/variables' as v;
@use '@shared/scss/helpers/mixins' as mix;
@use '@shared/scss/helpers/bootstrap' as bs;

.modal {
  .form-container {
    #openid-client {
      .scopes: {
        display: inline-grid;
	margin: 150rem;
      }
    }
  }

  .close {
    margin-top: auto;
    width: 100%;
    height: 50px;
  }
}
