#manage-webauthn-modal {
  padding-bottom: 26px;

  & > .content {
    & > .message-box-spacer {
      box-sizing: border-box;
      padding-bottom: 20px;
    }

    & > .current-keys {
      display: flex;
      flex-flow: column;
      padding-bottom: 20px;
      row-gap: 20px;

      @include media-breakpoint-down(lg) {
        row-gap: 10px;
        padding-bottom: 30px;
      }

      @include media-breakpoint-up(lg) {
        row-gap: 20px;
      }

      & > .row-box {
        width: 100%;
        display: inline-grid;
        grid-template-rows: 1fr;
        grid-template-columns: 22px 1fr 40px;
        align-items: center;
        align-content: start;
        justify-content: start;
        box-sizing: border-box;
        column-gap: 10px;

        & > :nth-child(1) {
          width: 22px;
          height: 22px;
        }

        & > p {
          @include text-overflow-dots;
          @include typography-legacy(15px, 18px, medium);

          color: #444a4e;
        }

        .btn {
          padding: 0;
          min-height: unset;
          justify-self: flex-end;
          width: 35px;
          height: 35px;
        }
      }
    }
  }
}
