@use '../../../../../../shared/scss/helpers' as *;

#manage-webauthn-modal {
  padding-bottom: 2.6rem;

  & > .content {
    & > .message-box-container {
      box-sizing: border-box;
      min-height: 70px;
      margin-bottom: 2rem;

      @include media-breakpoint-up(lg) {
        width: calc(100% - 6rem);
        margin: 0 3rem 3.4rem;
      }
    }

    & > .current-keys {
      display: flex;
      flex-flow: column;
      box-sizing: border-box;

      @include media-breakpoint-down(lg) {
        padding: 0 1.5rem;
        row-gap: 1rem;
        margin-bottom: 3rem;
      }

      @include media-breakpoint-up(lg) {
        padding: 0 3rem;
        row-gap: 2rem;
        margin-bottom: 3.4rem;
      }

      & > .row-box {
        width: 100%;
        display: inline-grid;
        grid-template-rows: 1fr;
        grid-template-columns: 74px 1fr 74px;
        align-items: center;
        align-content: start;
        justify-content: start;
        padding: 0;

        & > :nth-child(1) {
          margin-left: 2rem;
          width: 22px;
          height: 22px;
        }

        & > p {
          @include text-overflow-dots;
          @include typography(15px, 18px, medium);

          color: #444a4e;
        }

        & > :nth-child(3) {
          margin-left: 2rem;
        }
      }
    }
  }
}
