@use '@scssutils' as *;

.connected-user-card {
  background-color: var(--white);
  border-radius: 15px;
  position: relative;
  border: 1px solid var(--white);
  box-sizing: border-box;
  width: 370px;
  overflow: hidden;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 0fr;
  height: min-content;

  &.expanded {
    grid-template-rows: min-content min-content;
    border-color: var(--gray-border);
  }

  & > .card-expand {
    width: 40px;
    height: 40px;
    border: 0 solid transparent;
    background-color: transparent;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }

  & > .devices {
    grid-row: 2;
    grid-column: 1 / 2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;

    & > .device {
      display: grid;
      grid-template-rows: 40px 50px;
      grid-template-columns: 1fr;
      width: 100%;
      row-gap: 20px;
      box-sizing: border-box;
      padding: 20px;
      overflow: hidden;
      border-top: 1px solid var(--gray-border);

      & > .upper {
        grid-row: 1;
        grid-column: 1 / 2;
        display: grid;
        grid-template-columns: 22px 40px 1fr;
        grid-template-rows: 1fr;
        align-items: center;
        justify-content: start;
        column-gap: 10px;
        width: 100%;
        height: 100%;
      }

      & > .lower {
        grid-row: 2;
        grid-column: 1 / 2;
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 3fr;
        width: 100%;
        height: 100%;
        max-height: 100%;
        overflow: hidden;
      }
    }
  }

  & > .user-info {
    grid-row: 1;
    grid-column: 1 / 2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40px 50px;
    row-gap: 20px;
    overflow: hidden;
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    & > .upper {
      width: 100%;
      max-width: 100%;
      overflow: hidden;
      display: grid;
      grid-template-columns: 40px 1fr;
      grid-template-rows: 1fr;
      column-gap: 10px;
      box-sizing: border-box;
      padding-right: 25px;

      & > .user-initials-box {
        grid-row: 1;
        grid-column: 1 / 2;
      }

      & > .name-box {
        grid-row: 1;
        grid-column: 2 / 3;
      }
    }

    & > .lower {
      width: 100%;

      display: grid;
      grid-template-rows: 1fr;
      grid-template-columns: 2fr 3fr 120px;
      column-gap: 10px;
      align-items: center;
      justify-items: start;
      justify-content: space-evenly;
    }
  }

  .lower-box {
    row-gap: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;

    & > .content-wrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
      align-content: center;
      justify-content: center;
    }
  }

  .active-devices {
    .content-wrapper {
      display: grid;
      grid-template-columns: 30px 30px 30px;
      grid-template-rows: 30px;
      column-gap: 5px;
      .avatar-box {
        width: 30px;
        height: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: center;
        border-radius: 10px;
        box-sizing: border-box;
        background-color: var(--bg-light);
      }

      .count-box {
        width: 30px;
        height: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: center;
        border-radius: 10px;
        box-sizing: border-box;
        background-color: var(--bg-light);

        & > span {
          @include typography(12px, 14px, medium, var(--gray-light));
        }
      }
    }
  }

  .name-box {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    display: grid;
    grid-template-rows: 1fr 15px;
    grid-template-columns: 1fr;
    row-gap: 8px;
    overflow: hidden;

    & > .name {
      grid-row: 1;
      grid-column: 1 / 2;
      @include typography(15px, 21px, medium, $font-family: 'Poppins');
      @include text-overflow-dots;
      user-select: none;
    }

    & > .lower {
      grid-row: 2;
      grid-column: 1 / 2;
      display: flex;
      flex-flow: row nowrap;
      overflow: hidden;
      align-items: center;
      align-content: center;
      justify-content: flex-start;
      column-gap: 5px;
    }
  }

  .connection-time {
    display: grid;
    grid-template-rows: auto 30px;
    grid-template-columns: auto;

    & > .time {
      display: flex;
      flex-flow: row nowrap;
      column-gap: 5px;
      align-items: center;
      justify-content: center;
      height: 100%;
      & > span {
        @include typography(15px, 18px, medium);
        @include text-overflow-dots;

        text-align: left;
      }
    }
  }

  .network-usage {
    @include typography(12px, 14px, medium);
  }

  .network-usage-summary {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 15px 30px;
    row-gap: 5px;
    width: 100%;
    height: 100%;

    & > .network-usage-stats {
      grid-row: 1;
      grid-column: 1 / 2;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: space-between;

      .speed-value {
        font-size: 12px;
        line-height: 1.2;
      }
    }

    & > .chart {
      grid-row: 2;
      grid-column: 1 / 2;
    }
  }

  span {
    &.label {
      user-select: none;
      @include typography(12px, 14px, medium, var(--gray-light));
    }
  }
}
