@use '@scss/helpers' as *;

@mixin list-layout {
  display: inline-grid;
  grid-template-columns: 1fr 40px;
  @include media-breakpoint-up(lg) {
    grid-template-columns: minmax(150px, 25%) 1fr 1fr 60px;
  }

  @for $i from 1 through 4 {
    & > :nth-child(#{$i}) {
      grid-column: $i;
    }
  }

  & > * {
    grid-row: 1;
  }
}

#users-overview {
  .users-list {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    @include media-breakpoint-up(lg) {
      grid-template-rows: 28px 1fr;
    }

    .headers {
      display: none;
      @include media-breakpoint-up(lg) {
        @include list-layout;

        :nth-child(4) {
          justify-content: center;
        }
      }
    }

    .scroll-container {
      padding: 0;
      padding-bottom: 40px;
      margin-right: 5px;
      grid-row: 1;
      grid-column: 1;

      @include media-breakpoint-up(lg) {
        grid-row: 2;
      }
    }

    .default-row {
      @include list-layout;

      align-items: center;
      grid-template-rows: 1fr;
      height: 60px;
      cursor: pointer;

      .username,
      .name, .phone {
        @include regular-text;
        @include text-weight(medium);
      }

      .name {
        display: flex;
        flex-flow: row nowrap;
        column-gap: 1rem;
        align-content: center;
        align-items: center;
        justify-content: flex-start;
      }

      & > :nth-child(4) {
        button {
          width: 100%;
        }
      }
    }
  }
}
