@use '@shared/scss/base/variables' as v;
@use '@shared/scss/helpers/bootstrap' as bs;
@use '@shared/scss/helpers/mixins' as mix;
@use '@shared/scss/helpers' as *;

#wizard {
  & > .content {
    & > .steps-container {
      & > .user-devices {
        @include bs.media-breakpoint-down(xl) {
          display: block;
          box-sizing: border-box;
          padding: 0 2rem;
          width: 100%;
        }
        @include bs.media-breakpoint-up(xl) {
          display: flex;
          flex-direction: column;
          align-items: center;
          align-content: center;
          justify-content: center;
          gap: 3rem;
          width: 100%;
          max-width: 100%;
          height: auto;
          padding: 3rem;
          position: relative;
        }

        & > .card {
          padding: 1.5rem 3rem 4rem;
          width: 100%;

          & > form > .hidden {
            @include mix.visually-hidden;
          }

          & .device-form {
            display: grid;
            width: 100%;
            grid-template-columns: auto 1fr 1fr auto;
            column-gap: 10px;
            align-items: center;

            & .input-container {
              width: 100%;
            }

            & label {
              @include outer-label;
            }
          }
        }
      }
    }
  }
}
