@use '../../../../shared/scss/helpers' as *;

#user-devices {
  height: auto;
  width: 100%;
  min-width: 100%;

  & > header {
    margin-bottom: 2rem;

    & > h2 {
      @include card-header;
    }
  }

  & > .devices {
    margin-bottom: 1rem;
    display: flex;
    flex-flow: column nowrap;
    row-gap: 1rem;

    @include media-breakpoint-up(md) {
      row-gap: 1.5rem;
      margin-bottom: 1.5rem;
    }

    & > .device-card {
      width: 100%;
    }
  }

  & > .add-component {
    height: 80px;

    &:not(:last-of-type) {
      margin-bottom: 1rem;

      @include media-breakpoint-up(lg) {
        margin-bottom: 1.5rem;
      }
    }
  }
}
