#profile-details {
  box-sizing: border-box;
  padding: var(--spacing-3xl) var(--spacing-xl);
  align-items: start;

  & > .left {
    grid-column: 1 / 7;
    display: flex;
    flex-flow: column;
    flex: none;
    row-gap: var(--spacing-4xl);
  }

  #profile-auth-card {
    grid-column: 7 / 11;
  }
}
