#acl-index-page {
  #content-card {
    background-color: var(--surface-default-modal);
    border-radius: 15px;
    box-sizing: border-box;
    padding: var(--spacing-s);
    border-top-left-radius: 0;
  }
}
