#acl-index-page {
  #content-card {
    background-color: var(--surface-default-modal);
    border-radius: 15px;
    box-sizing: border-box;
    padding: var(--spacing-s);
    border-top-left-radius: 0;
  }

  .page-content {
    & > header {
      padding-bottom: var(--spacing-l);
    }
  }
}
