#acl-index-page {
  #content-card {
    background-color: var(--surface-default-modal);
    border-radius: 15px;
    box-sizing: border-box;
    padding: var(--spacing-s);
    border-top-left-radius: 0;

    & > div {
      & > header {
        width: 100%;
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: flex-start;
        column-gap: var(--spacing-s);
        padding-bottom: var(--spacing-m);

        & > .controls {
          margin-left: auto;
          display: flex;
          flex-flow: row;
          align-items: center;
          justify-content: flex-end;
          column-gap: var(--spacing-s);

          .btn.filter {
            svg path {
              @include animate-standard;
              transition-property: fill;
              fill: var(--text-button-primary);
            }

            &:hover {
              svg path {
                fill: var(--surface-main-primary);
              }
            }
          }
        }
      }
    }
  }

  .page-content {
    & > header {
      padding-bottom: var(--spacing-l);
    }
  }
}
