#users-overview-page {
  .table,
  .table-top {
    grid-column: 1 / 13;
  }

  .page-content {
    padding-top: var(--spacing-3xl);
    box-sizing: border-box;
  }

  .table .device-name-cell {
    svg path {
      fill: var(--fg-success);
    }
  }
}
