@use '../../../../../shared/scss/helpers' as *;

.card {
  &.device-card {
    display: block;
    box-sizing: border-box;
    padding: 2rem 0 2rem 1.7rem;
    position: relative;

    & > header {
      column-gap: 1rem;
      margin-bottom: 2rem;
      display: grid;
      grid-template-rows: 40px;
      grid-template-columns: 40px 1fr;
      align-items: center;
      justify-content: flex-start;
      overflow: hidden;
      box-sizing: border-box;
      padding-right: 20px + 40px + 20px;

      & > h3 {
        @include small-header;
        @include text-overflow-dots;

        user-select: text !important;
      }
    }

    & > .content {
      display: grid;
      grid-auto-flow: column;

      & > .info {
        & > label {
          margin-bottom: 1rem;
          user-select: none;
        }

        & > p {
          @include regular-text;
        }
      }
    }

    & > .edit-button {
      position: absolute;
      top: 20px;
      right: 20px;
    }
  }
}
