@use '../../../../scss/helpers' as *;

#toasts-root {
  & > .toast {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    box-sizing: border-box;
    background-color: var(--white);
    gap: 1rem;
    max-width: 100%;
    min-width: 216px;
    min-height: 60px;
    border: 1px solid var(--gray-border);
    padding: 0 2rem;
    border-radius: 10px;
    position: relative;
    cursor: pointer;

    @include elevate;

    & > p {
      margin: 0;
      padding: 0;
      text-align: left;
      user-select: none;

      @include typography(12px, 18px, var(--text-main));

      & > span {
        display: block;
        text-align: left;
        user-select: none;

        @include typography(12px, 18px, var(--gray-dark));
      }
    }
  }
}
