[Interface]
PrivateKey = kDfynbOzTwqebntTAFjQ4cxYI3tTRcX4w9QGZCZC3nE=
Address = 10.0.0.1/24
ListenPort = 55055
DNS = 10.0.0.2
[Peer]
PublicKey = QxRw3aBICWel9SVp5L2kCgkwQn6M4sBjUYoYMCQR8wE=
AllowedIPs = 10.0.0.10/24
PersistentKeepalive = 300
[Peer]
PublicKey = 4muCi7VGXt+Rk9GVCcI+wYRcx65WlHzSHmx2XH8LwSg=
AllowedIPs = 10.0.0.11/24
PersistentKeepalive = 300
[Peer]
PublicKey = /kE4NBzK+ehOtrgRjkf/NOSkwL7kmawaBZiJqfjgLTE=
AllowedIPs = 10.0.0.12/24
PersistentKeepalive = 300
[Peer]
PublicKey = rqhsTEkANEXqoYGNWFn8i/Q+pAIWmbXhwH2pE9Y1pkM=
AllowedIPs = 10.0.0.13/24
PersistentKeepalive = 300
[Peer]
PublicKey = RyWbQmF7zApg/UHfpZu+fNGwq7eLvBUbV9NUiv/Oshg=
AllowedIPs = 10.0.0.14/24
PersistentKeepalive = 300
[Peer]
PublicKey = bvHncDT9fDlzhi+12SV/lHtMa1lpcM4m6XhV9Hcy0Bc=
AllowedIPs = 10.0.0.15/24
PersistentKeepalive = 300
[Peer]
PublicKey = NALLzNoEV0FMovwvHUSbXLmKrQh2qV4qlTvLnsGxviQ=
AllowedIPs = 10.0.0.16/24
PersistentKeepalive = 300
[Peer]
PublicKey = m5i+W6Dc7Gs7sSKIxV7yoqfOM2DCNuNzGgm0tRmHHV4=
AllowedIPs = 10.0.0.17/24
PersistentKeepalive = 300
[Peer]
PublicKey = 05P8oWRiujDFQKLDIEfesUEVkaePJBlKptYJiTvOQ2U=
AllowedIPs = 10.0.0.18/24
PersistentKeepalive = 300
[Peer]
PublicKey = Lp1wmx0YZNH7kPikNI571F7PhaGuulm/BMW78ELuYG4=
AllowedIPs = 10.0.0.19/24
PersistentKeepalive = 300
[Peer]
PublicKey = 2LYRr2HgSSpGCdXKDDAlcFe0Uuc6RR8TFgSquNc9VAE=
AllowedIPs = 10.0.0.20/24
PersistentKeepalive = 300
[Peer]
PublicKey = EXWNm+iUuC4EAOiUoKL9G0vIFau9ULem98vvW5NzhAw=
AllowedIPs = 10.0.0.21/24
PersistentKeepalive = 300
[Peer]
PublicKey = xYbD7/mI7lHp3Vu/m+N91u7lKeFilLeFe8w9JHOGSTI=
AllowedIPs = 10.0.0.22/24
PersistentKeepalive = 300
[Peer]
PublicKey = 3d4AMtbbo8rgAUoFknfP/3J/bC9i6uRYb4VgaMpH6x0=
AllowedIPs = 10.0.0.23/24
PersistentKeepalive = 300
[Peer]
PublicKey = N2/zvD1QVLdSxny/hGqVKeVv23kPOhnksHdNFn3qx30=
AllowedIPs = 10.0.0.24/24
PersistentKeepalive = 300
[Peer]
PublicKey = 6x4gY3iq82vWHfv8nDBBMZzNeJyBfSwA5rzHQCCYuy8=
AllowedIPs = 10.0.0.25/24
PersistentKeepalive = 300
[Peer]
PublicKey = e/tnxAZIbUiiYXvN4mLeB5BTEoo4yaDmWxSfg3hU0Qo=
AllowedIPs = 10.0.0.26/24
PersistentKeepalive = 300
[Peer]
PublicKey = pOntohXXOHTlnI++XtxGMJIytY/eHoeizOY2ucC/bjM=
AllowedIPs = 10.0.0.27/24
PersistentKeepalive = 300
[Peer]
PublicKey = mRRmmE/0sFjUFAB5om2jIhVptf8QJeWB18/309Aldng=
AllowedIPs = 10.0.0.28/24
PersistentKeepalive = 300
[Peer]
PublicKey = x7KTfCMzik4sg0tqmWaPfHUOgWizU3c+VO7QNcvhwH0=
AllowedIPs = 10.0.0.29/24
PersistentKeepalive = 300