[Interface]
Address = 10.0.0.1/24
ListenPort = 51820
PrivateKey = cH/uSzmIJsRTK75EVIknGEepm0ib9hCcxz3frMsPQ2A=
[Peer]
PublicKey = YrLaAendaaF6E9q5BsDs4K0n9BeDYlg7DzsQmldz2RE=
AllowedIPs = 10.0.0.2/32
[Peer]

PublicKey = 3odfLp93nNlMrBdEGQQuwQ9SiSHWNTnOtfTxVJlpFxA=

AllowedIPs = 10.0.0.3/32



[Peer]

PublicKey = qronybuD11S1kcenFHrTzV5lXIUwbM0DQTC7eJC5BFE=

AllowedIPs = 10.0.0.4/32



[Peer]

PublicKey = VQa/Xof1beTOaVOIUzrvqzi73df49dLusnwy9LO9BQI=

AllowedIPs = 10.0.0.5/32



[Peer]

PublicKey = OLAmGFfCviVvTIoGr3W2LF/1eScn5RLG/bAoHZnS8HM=

AllowedIPs = 10.0.0.6/32



[Peer]

PublicKey = 839ngKFokOygww+JftM2gbXM4pgVezm5KkQlcf4IdWU=

AllowedIPs = 10.0.0.7/32



[Peer]

PublicKey = 085pn8Gs3fPQv9W5gUD+h+C5lSL+tiHQs/zyYwwqKTA=

AllowedIPs = 10.0.0.8/32



[Peer]

PublicKey = 8zcIYcBgriZrwRygkQxXkvCs8dSU/KdZItv3Gs4D43o=

AllowedIPs = 10.0.0.9/32



[Peer]

PublicKey = 3PemkYf3F6dB5XR9y0oSIgKypjDj+nzkPCVzm1eFb2M=

AllowedIPs = 10.0.0.10/32



[Peer]

PublicKey = MR1+8wmesFR4vGKK3YwFzuf3YDhMaS96Fc6AZe/+BTc=

AllowedIPs = 10.0.0.11/32



[Peer]

PublicKey = fJ/YRmGxOgpUZ7dLvO5ZM3V2aLqUiuXFCb7Fxm56khA=

AllowedIPs = 10.0.0.12/32



[Peer]

PublicKey = J+uvrZlbF6jbiyRQn6YFegN1niCGte0QK2bQlhyHXFg=

AllowedIPs = 10.0.0.13/32



[Peer]

PublicKey = c1VSfiQqfeMlvClmaibmiVZE/Ss11dSE6ivLBwcguXw=

AllowedIPs = 10.0.0.14/32



[Peer]

PublicKey = wJY/PpEKYoiSTlvfPUuKQZo6N79HKy50J/ZLUV8rRSI=

AllowedIPs = 10.0.0.15/32



[Peer]

PublicKey = QFsPuHqLgTbF1O8crc2pog2bhy44T/zaOJJfQVRDBEU=

AllowedIPs = 10.0.0.16/32



[Peer]

PublicKey = VzB8i9ao9zzwwep61QZ/8Yn9Zc/t75P2/W3MnlphNic=

AllowedIPs = 10.0.0.17/32



[Peer]

PublicKey = ObKxzUTIsEaj9+PL7y82l/83AbJOm5T9xDSYr4M2zAo=

AllowedIPs = 10.0.0.18/32



[Peer]

PublicKey = McqC8wuHHACwSbQH0iPWYszhWF6/w88tmUy9eMv6vzE=

AllowedIPs = 10.0.0.19/32



[Peer]

PublicKey = QpaQy3JMb9Lv8TQMPOrhvNh+MxQXv4nzIiMoAl8J5zI=

AllowedIPs = 10.0.0.20/32



[Peer]

PublicKey = Z6awrd5acLzIRfzHUszwg6TXUeb9YETWbDxsi8AQ12w=

AllowedIPs = 10.0.0.21/32



[Peer]

PublicKey = nbSfzcPf53xZBVSanvsHkAj1mxozo+8mfGIW1TlORxU=

AllowedIPs = 10.0.0.22/32



[Peer]

PublicKey = yxvbe4AFG1Pz3EsF2O1SAwXTz2WYQcR6rTvK2WD+dHM=

AllowedIPs = 10.0.0.23/32



[Peer]

PublicKey = MuHz3WaJXIBI+F2gt5JA5uq6TZpUQlNQrbW3SAJ5RkQ=

AllowedIPs = 10.0.0.24/32



[Peer]

PublicKey = S8yqNbzPzSIP/U1uyQda62Y7EVqcqexiB6Tcisq9SlI=

AllowedIPs = 10.0.0.25/32



[Peer]

PublicKey = PXJmedvJRfVKa5bO/eDHjk37JCA8NYKoZzD1YF4AK2c=

AllowedIPs = 10.0.0.26/32



[Peer]

PublicKey = vIK0pF6psV1IsEnwVukasBf01x3wdbB7lKuBFbEwmkI=

AllowedIPs = 10.0.0.27/32



[Peer]

PublicKey = r4rramCSk82hG9Uv7Gg1JOLBBDQ+HF03aIirAOEmcQM=

AllowedIPs = 10.0.0.28/32



[Peer]

PublicKey = VMBXuICJutH8/hRuZHtGHNtwfZLBMLH0HOf/s8JbSB0=

AllowedIPs = 10.0.0.29/32



[Peer]

PublicKey = qc9Ravb4mVbG097OkS6h+M0/VtbtdCh4k+7FlUHKzxg=

AllowedIPs = 10.0.0.30/32



[Peer]

PublicKey = oqmmoQ6rFQuOalNRrv0Q1U0kB143mNeVSKR3Oyga2BI=

AllowedIPs = 10.0.0.31/32



[Peer]

PublicKey = 48DlXWY9c/QnB62en8t1ksPShMHoe6UgrW5N8qz20G0=

AllowedIPs = 10.0.0.32/32



[Peer]

PublicKey = dFi/mcYtlyefoIgiyErRb3RW705ZKWJv2Jduq4xJMz4=

AllowedIPs = 10.0.0.33/32



[Peer]

PublicKey = CukpKPtP4aQDRTBj1c1CZCQM2g68uq6H+UVt/cKn2Cg=

AllowedIPs = 10.0.0.34/32



[Peer]

PublicKey = BoLTi2aGyEXdiVKHRzNnBJgognQOPUWsQ1rFcWy4x3c=

AllowedIPs = 10.0.0.35/32



[Peer]

PublicKey = pEY3eoKIA9IW1WwZOP6wdfrs+pQ0lCVsulPluh6M0Qo=

AllowedIPs = 10.0.0.36/32



[Peer]

PublicKey = Q0SgDzmGgsxZs8xyjnV75HVdFlCc+kaFfCcA3h0gaX4=

AllowedIPs = 10.0.0.37/32



[Peer]

PublicKey = n9ofAynU/Gk5HNSjM3PFOKqIoL7p2C1NhhVEc++GODM=

AllowedIPs = 10.0.0.38/32



[Peer]

PublicKey = abtxETMDNccSRCN90wklDvci1Bm1jUcG3VktVnG6FV8=

AllowedIPs = 10.0.0.39/32



[Peer]

PublicKey = u7TsCcuTtHFmyeNWq7PwUnb1neeqclSltNBvoyX6exM=

AllowedIPs = 10.0.0.40/32



[Peer]

PublicKey = pEX/ockLLFcbmvGyKGZaOqM9zkH2AS0WHwcLGQEUqFM=

AllowedIPs = 10.0.0.41/32



[Peer]

PublicKey = sPhm7b9eQ61RWjaNg/LcFgytnE9SuknKtFEc5MyZ3jU=

AllowedIPs = 10.0.0.42/32



[Peer]

PublicKey = 8hgy7V8KLPnhVB7dhZqpGZqbjS4+JZ9AI4R7UnkbpjY=

AllowedIPs = 10.0.0.43/32



[Peer]

PublicKey = fkQ5cmj07TpeaviBSxTTZPyOv8Wik1OTJXJr8eeXhXQ=

AllowedIPs = 10.0.0.44/32



[Peer]

PublicKey = vCAooo9hMLtJM3e1JkoxxsRfsrPfaHC3mf6GkHCFaG8=

AllowedIPs = 10.0.0.45/32



[Peer]

PublicKey = YhZxIeT2+t/6kSFSrPeZLGTGleaw1AOhDdJWjhoT5Hs=

AllowedIPs = 10.0.0.46/32



[Peer]

PublicKey = NwOgpci9XxJxNSpS0MTTR1UGWcwKeVUQ0E9fz3s8kTI=

AllowedIPs = 10.0.0.47/32



[Peer]

PublicKey = eFlobd8On4Wd1BNd87+VqUOP09PIEml2jRSao1ttDU8=

AllowedIPs = 10.0.0.48/32



[Peer]

PublicKey = OLal/rpDXUb0ZETgvEay7HS9bHxFK4DXuG6nzzDeZCg=

AllowedIPs = 10.0.0.49/32



[Peer]

PublicKey = bc406wzqAc8q1NJzj6an4Ypk2xYr0h0J6f518/H2vDg=

AllowedIPs = 10.0.0.50/32



[Peer]

PublicKey = LyoE9TQPtxbk9g83VYv8L+HBHl9Np9B4eUboQqo3HXA=

AllowedIPs = 10.0.0.51/32
