.table-page-layout {
  .table-skeleton-wrapper,
  .flexible-empty-state,
  .table-top,
  .table,
  .tabs {
    grid-column: 1 / 13;
  }

  .tabs {
    padding-bottom: var(--spacing-3xl);
    padding-top: var(--spacing-md);
  }
}
