#recovery-codes-modal .modal-content {
  & > p {
    font: var(--t-body-sm-400);
    color: var(--fg-neutral);
  }

  .codes {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    column-gap: var(--spacing-4xl);
    box-sizing: border-box;
    padding: var(--spacing-md) var(--spacing-xl);
    margin: 0;
    border-radius: var(--radius-lg);
    background-color: var(--bg-disabled);

    li {
      width: 50%;
      margin: 0;
      padding: 0;
      font: var(--t-body-sm-500);
      color: var(--fg-faded);
    }
  }

  .bottom {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
  }

  .actions {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: var(--spacing-md);
  }
}
