@use '../../../../shared/scss/helpers' as *;

#profile-details {
  & > .card {
    padding: 2rem 1.5rem 3rem;

    @include media-breakpoint-up(lg) {
      padding: 3rem 3rem 1.5rem 3rem;
    }

    .row {
      min-width: 100%;
      display: grid;
      grid-auto-flow: row;
      grid-auto-rows: 1fr;
      grid-auto-columns: 1fr;
      row-gap: 3rem;

      & > label {
        margin-bottom: 7px;
      }

      @include media-breakpoint-up(lg) {
        grid-auto-flow: column;
      }

      &.tags {
        margin-bottom: 2.5rem;
        display: block;
        max-width: 100%;

        & > label {
          display: block;
          margin-bottom: 1.2rem;
        }

        & > .tags {
          display: flex;
          flex-flow: row wrap;
          column-gap: 1rem;
          row-gap: 1.2rem;
          min-height: 30px;
          align-content: center;
          align-items: center;
          justify-content: flex-start;

          .no-data {
            width: 100%;
            display: flex;
            flex-flow: row nowrap;
            align-content: center;
            align-items: center;
            justify-content: center;
          }
        }
      }

      & > .info {
        & > label {
          margin-bottom: 0.7rem;
          display: block;
        }

        & > p {
          @include regular-text;
        }
      }
    }

    & > form {
      .hidden {
        @include visually-hidden;
      }

      & > .row {
        column-gap: 1.5rem;
        row-gap: 0;
        margin-bottom: 0;

        & > .item {
          width: 100%;
        }
      }
    }
  }
}
