@use '@shared/scss/base/variables' as v;
@use '@shared/scss/helpers/mixins' as mix;
@use '@shared/scss/helpers/bootstrap' as bs;

.modal-root {
  .modal-wrap {
    .modal {
      &.side-form {
        padding: 0;

        & > .modal-content {
          height: 100%;
          @include bs.media-breakpoint-down(xl) {
            width: 100%;
            padding: 0;
          }
          @include bs.media-breakpoint-up(xl) {
            width: 429px;
            box-sizing: border-box;
            padding: 4rem 3rem;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            align-content: center;
            justify-content: flex-start;
          }

          & > header {
            display: flex;
            flex-direction: row;
            align-content: center;
            align-items: center;
            justify-content: flex-start;
            box-sizing: border-box;
            @include bs.media-breakpoint-down(xl) {
              height: 70px;
              padding: 0 2rem;
              border-bottom: 1px solid v.$gray-border;
              margin-bottom: 3rem;
            }
            @include bs.media-breakpoint-up(xl) {
              padding: 0;
              height: 30px;
              margin-bottom: 4rem;
            }

            & > h3 {
              @include mix.typography-legacy(21px, 30px, semiBold, $font-family: 'Poppins');
            }

            & > button {
              margin-left: auto;
              margin-right: 0.6rem;
            }
            @include bs.media-breakpoint-down(xl) {
            }
          }

          & > button {
            &.close {
              @include bs.media-breakpoint-up(xl) {
                margin-top: auto;
                width: 100%;
              }
            }
          }

          & > form {
            width: 100%;
            box-sizing: border-box;
            display: block;
            @include bs.media-breakpoint-down(xl) {
              max-height: calc(100% - 70px - 3rem);
              padding: 0 2rem;
              overflow: auto;
              padding-bottom: 1.5rem;
            }

            & > label {
              @include mix.typography-legacy(15px, 21px, medium);
              @include mix.poppins;

              text-align: left;
              @include bs.media-breakpoint-down(xl) {
                margin-bottom: 1rem;
              }
              @include bs.media-breakpoint-up(xl) {
                margin-bottom: 1.5rem;
              }
            }

            & > .btn {
              width: 100%;
              margin-top: 1.5rem;

              &:last-of-type {
                @include bs.media-breakpoint-up(xl) {
                  margin-bottom: 2rem;
                }
              }
            }
          }
        }
      }
    }
  }
}
