@use '@scssutils' as *;

#ldap-settings {
  & > header {
    & > .btn {
      margin-left: 100px;
    }

    & > .controls {
      display: flex;
      gap: 10px;
    }
  }

  & > #ldap-settings-form > .form-checkbox {
    margin-bottom: 10px;
  }
}
