#migration-wizard .wizard-card {
  .ca-info {
    .ca-info-title {
      font: var(--t-body-sm-500);
    }

    .ca-info-grid {
      display: grid;
      grid-template-columns: 180px 1fr;
      gap: var(--spacing-md) var(--spacing-lg);
      align-items: center;
    }

    .ca-info-label {
      color: var(--fg-neutral);
      font: var(--t-body-md-400);
    }

    .ca-info-value {
      color: var(--fg-faded);
      font: var(--t-body-md-400);
    }
  }

  .ca-settings {
    padding: var(--spacing-xl);
    border-radius: var(--radius-lg);
    border: var(--border-1) solid var(--border-default);

    form {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: var(--spacing-xl) var(--spacing-md);

      & > :nth-child(odd):last-child {
        grid-column: span 2;
      }
    }
  }
}

#migration-wizard {
  .migration-wizard-support {
    display: flex;
    flex-direction: column;
  }

  .migration-wizard-support-header {
    display: flex;
    align-items: center;
    gap: var(--spacing-sm);
  }

  .migration-wizard-video-card {
    display: flex;
    align-items: flex-end;
    gap: var(--spacing-xl);
    width: 100%;
    padding: 0;
    border: 0;
    background: transparent;
    cursor: pointer;
    text-align: left;

    .video-support-thumbnail {
      width: 152px;
      height: 90px;
    }
  }

  .migration-wizard-video-info {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-self: stretch;
    min-width: 0;
  }

  .migration-wizard-video-title {
    display: -webkit-box;
    margin: 0;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
  }

  .migration-wizard-doc-card {
    padding: var(--spacing-lg);
    border: var(--border-1) solid var(--border-default);
    border-radius: var(--radius-lg);
    background-color: var(--bg-default);

    .external-link {
      font: var(--t-body-sm-400);
    }
  }
}

#upgrade-guide-list {
  font: var(--t-body-sm-400);
  color: var(--fg-neutral);

  li {
    margin-left: var(--spacing-md);
  }
}

#confirm-improve-notice {
  font: var(--t-body-sm-400);
  color: var(--fg-neutral);

  strong {
    font-weight: 500;
  }
}

#migration-start-md-block {
  font: var(--t-body-sm-400);
  color: var(--fg-faded);
}
