.change-warning-modal {
  width: 100%;
  max-width: 700px;

  & > .modal-content > .content > p {
    padding: 25px 25px 40px;
  }

  & > .modal-content > .content > .buttons {
    padding: 0 25px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    column-gap: 1rem;
  }
}
