@use '@scss/helpers' as *;

#add-user-device-modal {
  & > .step-0 {
    & > .message-box-container {
      margin-bottom: 3.2rem;
      min-height: 70px;
    }

    & > form {
      & > .toggle {
        width: 100%;
        margin-top: calc(3.2rem - 2.5rem);
        margin-bottom: 2rem;
      }

      & > .controls {
        margin-top: calc(3.2rem - 2.5rem);
        & > button {
          & > .content {
            & > .icon-container {
              transform: scale(1.5);
              svg {
                g,
                path {
                  fill: var(--white);
                }
              }
            }
          }
        }
      }
    }
  }

  & > .step-1 {
    padding: 0 3rem 2.5rem;

    & > .message-box-container {
      padding: 0;
      margin-bottom: 2.5rem;

      .message-box {
        p {
          max-width: 100%;
        }
      }
    }

    & > .input-container {
      margin: 0;
    }

    & > .info {
      display: flex;
      flex-direction: row nowrap;
      align-items: center;
      align-content: center;
      justify-content: center;
      margin: 14px 0;

      p {
        text-align: center;
        max-width: 414px;

        @include regular-text;

        color: var(--gray-dark);
      }
    }

    & > .card-label {
      display: flex;
      flex-flow: row nowrap;
      column-gap: 5px;
      align-content: center;
      align-items: center;
      justify-content: flex-start;
      margin-bottom: 1.2rem;
    }

    .input-container {
      width: 100%;
    }

    & > .expandable-card {
      margin-bottom: 2.7rem;

      & > .top {
        & > .expand-button {
          & > span {
            @include typography-legacy(12px, 1.2, medium, var(--gray-light));
          }
        }

        & > .extras {
          .select {
            width: 120px;
            height: 40px;
          }
        }
      }

      & > .expanded-content {
        display: flex;
        flex-direction: row nowrap;
        align-items: center;
        justify-content: center;
        align-content: center;
      }
    }

    & > .controls {
      width: 100%;
      display: flex;
      flex-flow: row nowrap;
      align-content: center;
      align-items: center;
      justify-content: center;

      .btn {
        width: 100%;

        @include media-breakpoint-up(lg) {
          max-width: 278px;
        }
      }
    }
  }
}
