@use '@shared/scss/base/variables' as v;
@use '@shared/scss/helpers/bootstrap' as bs;
@use '@shared/scss/helpers/mixins' as mix;

.webhooks-list {
  max-height: calc(100% - 132px);
  overflow-y: auto;
  overflow-x: hidden;
  width: calc(100% - 0.8rem);
  margin-right: 0.8rem;
  box-sizing: border-box;
  padding-left: 2rem;
  padding-right: 0.8rem;
  padding-bottom: 2rem;
  list-style: none;

  & > li {
    position: relative;

    &:not(:last-of-type) {
      margin-bottom: 1rem;
    }

    .webhook {
      display: flex;
      flex-direction: column;
      align-items: center;
      align-content: center;
      justify-content: flex-start;
      box-sizing: border-box;
      padding: 1rem;
      border-radius: 1.5rem;
      background-color: v.$white;

      .top {
        height: 40px;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        align-content: center;
        justify-content: flex-start;

        .expand {
          display: flex;
          flex-direction: row;
          align-items: center;
          align-content: center;
          justify-content: flex-start;
          column-gap: 1rem;
          cursor: pointer;

          .avatar-icon {
            width: 40px;
            height: 40px;
            background-color: v.$light-gray-bg;
            border-radius: 10px;

            &.active {
              background-color: v.$primary;

              svg {
                rect {
                  fill: v.$white;
                }

                path {
                  fill: v.$white;
                }
              }
            }
          }
        }

        .info {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          align-content: center;
          justify-content: flex-start;
          margin-left: 1rem;
          row-gap: 0.5rem;

          .id {
            margin: 0;
            padding: 0;
            font-size: 1.3rem;
            line-height: 1.5rem;
            @include mix.text-weight(medium);

            color: v.$text-main;
          }

          .badges {
            display: flex;
            flex-direction: row;
            align-items: center;
            align-content: center;
            justify-content: flex-start;
          }
        }

        .icon-button {
          margin-left: auto;
        }
      }

      .divider {
        display: block;
        position: relative;
        width: calc(100% + 2rem);
        content: ' ';
        height: 1px;
        background-color: v.$gray-border;
      }

      .collapsible {
        width: 100%;
        display: flex;
        flex-direction: row;
        box-sizing: border-box;
        padding-top: 1.7rem;
        padding-bottom: 0.7rem;

        .labeled-group {
          display: flex;
          flex-direction: column;
          row-gap: 0.8rem;
          width: 50%;

          label {
            line-height: 1.4rem;
            font-size: 1.2rem;
            @include mix.text-weight(medium);

            color: v.$gray-light;
          }

          & > div {
            display: flex;
            flex-direction: row;
            align-items: center;
            align-content: center;
            justify-content: flex-start;
            column-gap: 0.8rem;

            & > span {
              font-size: 1.5rem;
              color: v.$text-main;
              @include mix.text-weight(medium);

              line-height: 1.8rem;
            }
          }
        }
      }

      &.open {
        .top {
          height: 60px;
          padding-bottom: 1rem;
          box-sizing: border-box;
        }
      }
    }
  }
}
