@use '@shared/scss/base/variables' as v;
@use '@shared/scss/helpers/mixins' as mix;
@use '@shared/scss/helpers/bootstrap' as bs;

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  position: relative;

  .labeled-input {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: center;
    height: auto;
    width: 100%;
    position: relative;
    @include bs.media-breakpoint-down(md) {
      gap: 0.8rem;
    }
    @include bs.media-breakpoint-up(md) {
      gap: 1.2rem;
    }

    & > label {
      color: v.$gray-light;
      font-size: 1.2rem;
      line-height: 1.4rem;
      font-family: Roboto;
      @include mix.text-weight(medium);
    }

    & > .input-container {
      flex: 1 1 auto;
      width: 100%;
    }
    @include bs.media-breakpoint-up(md) {
      &.half {
        width: 50%;

        & > .input-container {
          width: 100%;
        }
      }
    }
  }

  & > .input-group {
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: flex-start;
    row-gap: 2.5rem;
    column-gap: 2rem;
    margin-top: 1.5rem;
    width: 100%;

    & > label {
      display: block;
      width: 100%;
    }
  }
}
