@use '@shared/scss/base/variables' as v;
@use '@shared/scss/helpers/mixins' as mix;

.custom-select {
  width: 100%;
  height: 40px;
  outline: none;
  border: 1px solid v.$gray-border;
  border-radius: 1rem;
  background-color: v.$bg-light;
  box-sizing: border-box;
  transition-property: background-color, box-shadow;
  transition-timing-function: ease;
  transition-duration: 250ms;

  *:focus {
    outline: none;
  }

  .rs__control {
    outline: none;
    border: none;
    background-color: transparent;

    .rs__value-container {
      outline: none;
      @include mix.text-weight(medium);

      font-size: 1.2rem;
      line-height: 1.4;
    }

    .rs__placeholder {
      @include mix.text-weight(medium);

      font-size: 1.2rem;
      line-height: 1.4;
    }

    .rs__indicator-separator {
      display: none;
    }

    .rs__indicator {
      cursor: pointer;

      svg {
        path {
          fill: #899ca8;
          stroke: none;
        }
      }
    }

    &.rs__control--menu-is-open {
      .rs__indicator {
        svg {
          transform: rotateX(180deg);
        }
      }
    }

    &.rs__control--is-focused {
      // border: 1px solid v.$gray-border !important;
      // box-shadow: 0px 6px 10px #0000001a;
      border: none;
      box-shadow: none;
    }
  }

  .rs__menu {
    margin-top: 0.5rem;
    border: 1px solid #e8e8e8;
    border-radius: 1rem;
    padding: 1rem 0.5rem 1rem 0;
    box-shadow: none;

    .rs__menu-list {
      position: relative;
      max-height: 200px;
      overflow-x: hidden;

      .rs__option {
        height: 30px;
        background-color: v.$white;
        color: v.$gray-dark;
        font-size: 1.2rem;
        line-height: 1.4;
        @include mix.text-weight(medium);

        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;

        &.rs__option--is-focused,
        &.rs__option--is-selected {
          background-color: v.$bg-light;
          opacity: 1;
          color: v.$text-main;
        }

        &.rs__option--is-disabled {
          opacity: 0.5;
          cursor: not-allowed;
          user-select: none;
        }
      }
    }
  }

  &:hover,
  &:focus-within {
    box-shadow: 0 6px 10px #0000001a;
    background-color: v.$white;
    border: 1px solid v.$gray-border;
  }

  &.form {
    height: auto;

    .rs__control {
      min-height: 50px;
      height: auto;
      background-color: v.$white;

      .rs__value-container {
        padding-left: 2rem;

        .rs__multi-value {
          .rs__multi-value__remove {
            cursor: pointer;
          }
        }

        .rs__placeholder {
          font-family: Roboto;
          font-size: 1.5rem;
          color: v.$gray-light;
          @include mix.text-weight(regular);

          line-height: 1.8rem;
          margin: 0;
          padding: 0;
        }
      }
    }

    .rs__menu {
      top: 50px;
      box-shadow: none;
    }
  }
}
