@use '@shared/scss/base/variables' as v;
@use '@shared/scss/helpers/mixins' as mix;

.tippy-box[data-theme~='custom'] {
  background-color: v.$white;
  color: v.$text-main;
  min-height: 30px;
  height: auto;
  width: auto;
  text-align: center;
  box-shadow: 0 6px 20px #0000001a;
  border-radius: 1rem;
  font-size: 1.2rem;
  line-height: 1.1;
  @include mix.text-weight(medium);

  .tippy-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-grow: 1;
    min-height: 30px;
    box-sizing: border-box;
    padding: 0 1.4rem;
  }
}

.tippy-box[data-theme~='custom'][data-placement^='top'] > .tippy-arrow::before {
  border-top-color: v.$white;
}

.tippy-box[data-theme~='custom'][data-placement^='bottom']
  > .tippy-arrow::before {
  border-bottom-color: v.$white;
}

.tippy-box[data-theme~='custom'][data-placement^='left']
  > .tippy-arrow::before {
  border-left-color: v.$white;
}

.tippy-box[data-theme~='custom'][data-placement^='right']
  > .tippy-arrow::before {
  border-right-color: v.$white;
}
