@use '@shared/scss/base/variables' as v;
@use '@shared/scss/helpers/mixins' as mix;

.avatar-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  position: relative;
  height: 30px;
  width: 30px;

  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
  }
}
