@use '@scss/helpers' as *;

#provisioners-page {
  & > .page-content {
    min-height: 100%;
    max-height: 100%;
    overflow-y: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 40px 100vh;
    padding: 2rem 0;
    box-sizing: border-box;
    row-gap: 2rem;

    @include media-breakpoint-up(lg) {
      padding-top: 2rem;
      row-gap: 0;
      grid-template-columns: 1fr;
      grid-template-rows: 104px auto 100vh;
    }

    @include media-breakpoint-up(xxl) {
      padding: 4rem 7rem 0 0;
      grid-template-columns: minmax(880px, 1fr) minmax(400px, 700px);
      grid-template-rows: 105px 1fr;
    }

    & > header {
      grid-row: 2;
      grid-column: 1;
      box-sizing: border-box;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      align-content: center;
      padding: 0 2rem;

      @include media-breakpoint-up(lg) {
        padding: 0 0 0 6rem;
        column-gap: 3rem;
        grid-column: 1;
        grid-row: 1;
      }

      & > h1 {
        display: none;

        @include page-header;
        @include media-breakpoint-up(lg) {
          display: block;
        }
      }

      & > .search {
        height: 40px;
        width: 100%;

        @include media-breakpoint-up(lg) {
          width: clamp(200px, 360px, 360px);
        }
      }
    }

    & > .provisioners-container {
      grid-column: 1;
      grid-row: 3;
      display: grid;
      row-gap: 1.8rem;
      grid-template-rows: 40px 1fr;
      grid-template-columns: 1fr;

      & > .top {
        grid-row: 1;
        grid-column: 1;
        box-sizing: border-box;
        display: flex;
        flex-flow: row nowrap;
        width: 100%;
        padding: 0 2rem;

        @include media-breakpoint-up(lg) {
          padding: 0 4rem 0 6rem;
        }

        & > .select {
          margin-left: auto;
          width: 200px;
          height: 40px;
        }

        & > .provisioners-count {
          display: flex;
          flex-flow: row nowrap;
          column-gap: 1.5rem;
          align-content: center;
          align-items: center;
          justify-content: flex-start;

          & > span {
            @include modal-header;
          }

          & > .count {
            display: flex;
            flex-flow: row;
            height: 30px;
            min-width: 30px;
            box-sizing: border-box;
            padding: 0 5px;
            align-items: center;
            align-content: center;
            justify-content: center;
            background-color: var(--gray-light);
            border-radius: 10px;

            span {
              display: block;
              @include typography(12px, 18px, semiBold, var(--white), Poppins);
            }
          }
        }
      }

      & > .provisioners-list,
      & > .no-data,
      & > .loader {
        grid-row: 2;
        grid-column: 1;
      }

      & > .loader {
        width: 100%;
        height: 100%;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        align-content: center;
      }

      & > .no-data {
        box-sizing: border-box;
        padding: 0 4rem 0 6rem;
      }
    }

    & > .setup-container {
      grid-column: 1;
      grid-row: 1;

      @include media-breakpoint-up(lg) {
        grid-row: 2;
      }

      & > .provisioning-setup {
        box-sizing: border-box;
        padding: 1.5rem;

        @include media-breakpoint-down(lg) {
          margin: 0 2rem;
          width: calc(100% - 4rem);
        }

        @include media-breakpoint-up(lg) {
          padding: 4rem;
          margin: 0 4rem 2.5rem;
          width: calc(100% - 8rem);
        }

        @include media-breakpoint-up(xxl) {
          margin: 0;
          width: 100%;
        }

        & > h4 {
          @include modal-header;

          text-align: center;
          margin-bottom: 1.5rem;
          @include media-breakpoint-up(lg) {
            margin-bottom: 2rem;
          }
        }

        & > .image-row {
          height: 75px;
          display: flex;
          flex-flow: row;
          align-items: center;
          justify-content: center;
          align-content: center;
        }

        & > p {
          word-break: normal;
          text-align: center;
          @include regular-text;

          margin-bottom: 1.5rem;
          max-width: 100%;
          color: var(--gray-dark);
          font-size: 12px;

          @include media-breakpoint-up(lg) {
            margin-bottom: 2.5rem;
          }
        }

        & > .expandable-card {
          width: 100%;
          margin-top: 2rem;
          @include media-breakpoint-up(lg) {
            margin-top: 4rem;
          }

          & > .expanded-content {
            overflow: hidden;

            & > p {
              max-width: 100%;
              text-overflow: ellipsis;
              text-align: left;
              word-break: break-all;
              white-space: normal;
              @include small-text;

              line-height: 22px;
            }
          }
        }
      }
    }

    @include media-breakpoint-up(xxl) {
      & > header {
        grid-row: 1;
        grid-column: 1/3;
      }

      & > .provisioners-container {
        grid-column: 1 / 2;
        grid-row: 2;
      }

      & > .setup-container {
        grid-row: 2;
        grid-column: 2 / 3;
      }
    }
  }
}
