#profile-devices-tab {
  .table-top {
    padding-top: var(--spacing-3xl);
  }

  .flexible-empty-state,
  .table-top,
  .table {
    grid-column: 1 / 13;
  }

  & > .table {
    .table-cell .icon[data-kind='location'] {
      path {
        fill: var(--fg-success);
      }
    }
  }
}
