@mixin grid-config {
  box-sizing: border-box;
  display: inline-grid;
  grid-template-rows: 1fr;
  justify-content: space-between;
  padding: 0 var(--spacing-s) 0 0;
  column-gap: var(--spacing-xs);

  &:not(.selectable) {
    grid-template-columns: 350px repeat(3, 300px) 75px 40px;

    @include media-breakpoint-up(lg) {
      grid-template-columns: 1.25fr repeat(3, 1fr) 0.5fr 45px;
    }
  }

  &.selectable {
    grid-template-columns: 40px 350px repeat(3, 300px) 75px 40px;

    @include media-breakpoint-up(lg) {
      grid-template-columns: 40px 1.25fr repeat(3, 1fr) 0.5fr 45px;
    }
  }

  & > .cell {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;

    &:last-child {
      justify-content: center;
    }
  }

  .select-cell {
    align-items: center;
    justify-content: center;
    width: 100%;

    & > .interaction-box {
      width: 18px;
      height: 18px;
    }
  }
}

#acl-rules {
  width: 100%;

  .tags-display {
    display: flex;
    flex-flow: row nowrap;
    overflow: hidden;
    max-width: 100%;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    column-gap: var(--spacing-xs);

    span,
    p {
      @include typography(app-modal-2);
    }
  }

  .divider-header {
    padding-bottom: var(--spacing-s);

    .inner {
      display: flex;
      flex-flow: row;
      align-items: center;
      justify-content: flex-start;
      border-bottom: 1px solid var(--border-primary);
    }

    .header {
      @include typography(app-side-bar);
    }
  }

  .rules-list {
    width: 100%;

    &:not(:last-child) {
      padding-bottom: var(--spacing-s);
    }

    .list-headers {
      @include grid-config;
    }

    .header-track {
      display: flex;
      flex-flow: row;
      align-items: center;
      justify-content: flex-start;
      column-gap: var(--spacing-xs);
      padding-bottom: var(--spacing-xs);

      .select-cell {
        width: 40px;
        height: 22px;
        display: inline-flex;
        flex-flow: row;
        align-items: center;
        justify-content: center;

        .interaction-box {
          width: 18px;
          height: 18px;
        }
      }
    }

    .list-container {
      overflow-x: auto;
    }

    ul {
      list-style: none;
      display: flex;
      flex-flow: column;
      row-gap: var(--spacing-m);

      li {
        @include grid-config();

        .btn {
          width: 100%;
        }

        .cell {
          &.name {
            @include typography(app-modal-1);
          }
        }
      }
    }
  }
}
