@mixin grid-config {
  box-sizing: border-box;
  display: inline-grid;
  grid-template-rows: 1fr;
  grid-template-columns: 350px repeat(3, 300px) 75px 40px;
  justify-content: space-between;
  padding: 0 var(--spacing-s);

  @include media-breakpoint-up(lg) {
    grid-template-columns: 1.25fr repeat(3, 1fr) 0.5fr 45px;
  }

  & > * {
    display: inline-flex;
    justify-content: flex-start;
  }

  & > div {
    &:last-child {
      justify-content: center;
    }
  }
}

#acl-rules {
  width: 100%;

  .tags-display {
    display: flex;
    flex-flow: row nowrap;
    overflow: hidden;
    max-width: 100%;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    column-gap: var(--spacing-xs);

    span,
    p {
      @include typography(app-modal-2);
    }
  }

  .divider-header {
    padding-bottom: var(--spacing-s);

    .inner {
      display: flex;
      flex-flow: row;
      align-items: center;
      justify-content: flex-start;
      border-bottom: 1px solid var(--border-primary);
    }

    .header {
      @include typography(app-side-bar);
    }
  }

  .rules-list {
    width: 100%;

    &:not(:last-child) {
      padding-bottom: var(--spacing-s);
    }

    .list-headers {
      @include grid-config;
      padding-bottom: var(--spacing-m);
    }

    .list-container {
      overflow-x: auto;
    }

    ul {
      list-style: none;
      display: flex;
      flex-flow: column;
      row-gap: var(--spacing-m);

      li {
        @include grid-config();

        .btn {
          width: 100%;
        }

        .cell {
          &.name {
            @include typography(app-modal-1);
          }
        }
      }
    }
  }
}
