#license-settings {
  & > .card {
    display: flex;
    flex-flow: column;
    row-gap: 16px;

    @include media-breakpoint-up(lg) {
      padding: 16px 15px;
    }
  }
}

.controls > .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

#license-info {
  display: flex;
  flex-flow: row;
  column-gap: 16px;
  justify-content: space-evenly;

  & > div {
    display: flex;
    flex-flow: column;
    row-gap: 8px;

    text-align: center;

    & > .with-helper {
      display: flex;
      gap: 5px;
    }
  }
}

#no-license {
  text-align: center;
}
