#edit-location-page {
  form {
    & > .info-banner {
      padding-top: var(--spacing-3xl);
    }

    .edit-page-form-section {
      .info-banner {
        padding-top: 0;
      }
    }

    .buttons-group {
      align-items: flex-start;
    }
  }
}
