#edit-location-page {
  form {
    & > .info-banner {
      padding-top: var(--spacing-3xl);
    }

    .edit-page-form-section {
      .info-banner {
        padding-top: 0;
      }

      .location-empty-state {
        display: flex;
        align-items: center;
        gap: var(--spacing-2xl);

        .shield {
          display: block;
          flex-shrink: 0;
          width: 40px;
          height: 44px;
        }

        p {
          font: var(--t-body-sm-400);

          a {
            color: var(--fg-action);
            text-decoration: underline;
          }
        }
      }

      .posture-checks-assigned-state {
        width: 100%;

        .select-multiple {
          width: 100%;
        }
      }
    }

    .buttons-group {
      align-items: flex-start;
    }

    .acl-upsell-text {
      span {
        color: var(--fg-muted);
      }

      a {
        color: var(--fg-action);
      }
    }
  }
}
