@use '../../../scss/helpers' as *;

.divider {
  content: ' ';
  display: block;
  position: relative;
  background-color: var(--border-separator);

  &.horizontal {
    width: 100%;
    height: 1px;
  }

  &.vertical {
    height: 100%;
    width: 2px;
  }
}
