@use '@shared/scss/base/variables' as v;
@use '@shared/scss/helpers/mixins' as mix;

.divider {
  content: ' ';
  display: block;
  position: relative;
  background-color: var(--separator-stroke);

  &.horizontal {
    width: 100%;
    height: 1px;
  }

  &.vertical {
    height: 100%;
    width: 2px;
  }
}
