@use '@shared/scss/base/variables' as v;
@use '@shared/scss/helpers/mixins' as mix;

.divider {
  position: relative;
  background-color: v.$gray-border;
  opacity: 0.5;

  &.horizontal {
    width: 100%;
    height: 1px;
  }

  &.vertical {
    height: 100%;
    width: 1px;
  }
}
