@use '../../../scss/base/variables/' as v;

.dev-tools {
  & > div {
    z-index: 999999999999999999;
  }

  p {
    color: v.$white;
  }

  td {
    color: v.$white;
  }

  code {
    color: v.$white;
  }
}

.ReactQueryDevtools {
  color: v.$white;
}
