.select-multiple .fold-content {
  .selected {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-start;
    gap: var(--spacing-sm);
  }

  & > .select-multiple-edit {
    background-color: transparent;
    border: 0;
    display: inline-flex;
    align-items: center;
    gap: var(--spacing-sm);
    font: var(--t-body-sm-400);
    color: var(--fg-action);
    cursor: pointer;
    user-select: none;
    padding: 0;

    .icon {
      flex: 0 0 auto;
    }
  }
}
