@use '@shared/scss/base/variables' as v;
@use '@shared/scss/helpers/bootstrap' as bs;
@use '@shared/scss/helpers/mixins' as mix;

#wizard {
  & > .content {
    & > .steps-container {
      & > .container-basic {
        &.locations {
          display: flex;
          flex-direction: row;
          align-content: center;
          align-items: flex-start;
          justify-content: flex-start;
          padding: 3rem;
          width: 100%;
          max-width: 100%;
          box-sizing: border-box;
          height: auto;
          gap: 3rem;

          h2 {
            font-size: 2rem;
            line-height: 3rem;
            color: v.$text-main;
            opacity: 1;
            @include mix.text-weight(semiBold);

            font-family: Poppins;
            margin-bottom: 2rem;
          }

          .location-form {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            align-content: center;
            justify-content: flex-start;
            width: calc(50% - 1.5rem);
            height: auto;
            align-self: stretch;
            position: relative;

            form {
              display: flex;
              flex-direction: column;
              align-content: center;
              align-items: flex-start;
              justify-content: flex-start;
              width: 100%;
              height: 100%;
              gap: 0;

              .add-address {
                p {
                  cursor: pointer;
                }
              }

              .inputs-field-info {
                font-size: 1.2rem;
                color: v.$text-main;
                @include mix.text-weight(medium);

                line-height: 1.4rem;
                margin-top: 2rem;
                margin-bottom: 2rem;
              }

              .inputs-container {
                box-sizing: border-box;
                scroll-margin-right: 2rem;
                width: 100%;
                margin-bottom: 2rem;
              }

              .input-container {
                width: 100%;

                &:not(:last-of-type) {
                  margin-bottom: 2rem;
                }
              }

              .icon-with-label {
                margin-bottom: 2rem;
                cursor: pointer;

                .icon-button {
                  width: 3rem;
                  height: 3rem;
                  margin-left: 0;
                }

                p {
                  @include mix.text-weight(medium);

                  color: v.$primary;
                  font-size: 1.2rem;
                  line-height: 1.4rem;
                }
              }

              button {
                &:last-of-type {
                  width: 100%;
                }
              }
            }
          }

          .locations-list {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            align-content: center;
            justify-content: flex-start;
            width: calc(50% - 1.5rem);
            height: auto;
            align-self: stretch;

            & > .message-box {
              width: 100%;
              height: auto;
              flex-grow: 0;
            }

            ul {
              gap: 2rem;
              width: 100%;
              height: auto;
              background-color: v.$bg-light;
              border-radius: 1rem;
              box-sizing: border-box;
              padding: 2rem 0;
              list-style-type: none;

              li {
                display: flex;
                flex-direction: row;
                align-items: center;
                align-content: center;
                justify-content: flex-start;
                height: 40px;
                width: 100%;
                position: relative;
                padding: 0 2rem;
                box-sizing: border-box;

                .location-icon {
                  height: 4rem;
                  width: 4rem;
                  display: flex;
                  flex-direction: row;
                  align-items: center;
                  align-content: center;
                  justify-content: center;
                  box-sizing: border-box;
                  content: ' ';
                  background-color: v.$white;
                  border-radius: 1rem;
                  margin-right: 1rem;
                }

                .info {
                  display: flex;
                  flex-direction: column;
                  align-content: center;
                  align-items: flex-start;
                  justify-content: flex-end;
                  height: 100%;
                  width: auto;
                  max-width: calc(100% - 90px);
                  gap: 4px;
                  position: relative;

                  h3 {
                    font-size: 1.5rem;
                    color: v.$text-main;
                    line-height: 1.8rem;
                    @include mix.text-weight(medium);

                    font-family: Roboto;
                    text-align: left;
                    max-width: 100%;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    padding: 0;
                    background-color: transparent;
                  }

                  .badges {
                    display: flex;
                    flex-direction: row;
                    align-content: center;
                    align-items: center;
                    justify-content: flex-start;
                    gap: 0.7rem;
                  }
                }

                .icon-button {
                  display: none;
                  margin-left: auto;
                  border-radius: 1rem;
                  width: 30px;
                  height: 30px;

                  svg {
                    width: 22px;
                    height: 22px;

                    path,
                    rect {
                      fill: v.$gray-light;
                    }
                  }
                }

                &:hover {
                  .icon-button {
                    display: flex;
                  }
                }

                &:not(:last-of-type) {
                  margin-bottom: 2rem;
                }
              }
            }
          }
        }
      }
    }
  }
}
