#network-page {
  .gateway {
    display: flex;
    flex-direction: column;
    row-gap: 20px;

    & > section.header-section {
      h2,
      p {
        margin-bottom: 35px;
      }
    }

    & > .message-box-spacer {
      padding-bottom: 20px;

      @include media-breakpoint-up(lg) {
        padding-bottom: 40px;
      }
    }

    & > .expandable-card {
      & > .expanded-content {
        overflow: hidden;
        box-sizing: border-box;

        & > p {
          width: 100%;
          max-width: 100%;
          text-overflow: ellipsis;
          text-align: left;
          word-break: break-all;
          white-space: normal;
          @include small-text;

          line-height: 22px;
          color: var(--text-body-secondary);
          padding: 20px 0px;
        }
      }

      margin-bottom: 30px;
    }

    h2 {
      @include typography(app-body-1);
      color: var(--text-body-primary);
      text-align: center;
    }

    h3 {
      @include typography(modal-title);

      color: var(--text-body-primary);
    }

    p {
      & > a {
        color: var(--text-body-secondary);
      }

      @include typography(app-modal-2);
      color: var(--text-body-secondary);
    }

    & > p {
      text-align: center;
    }

    & > .btn {
      width: 100%;
    }
  }
}
