@use '@scssutils' as *;

.page-container {
  min-height: inherit;

  @include media-breakpoint-down(lg) {
    height: 100%;
    max-height: inherit;
    box-sizing: border-box;
    position: relative;
  }

  @include media-breakpoint-up(lg) {
    margin-left: 0;
    width: 100%;
    height: inherit;
    max-height: inherit;

    & > .page-content {
      width: calc(100% - 87px);
      margin-left: 87px;

      &.nav-open {
        margin-left: 230px;
        width: calc(100% - 230px);
      }
    }
  }
}

.page-container > .page-content.default-padding {
  box-sizing: border-box;
  padding: var(--spacing-m) var(--spacing-s) var(--spacing-m);

  @include media-breakpoint-up(lg) {
    padding: var(--spacing-xl) var(--spacing-xl) var(--spacing-m);
  }
}
