.nav-bar {
  display: grid;
  grid-template-rows: 108px 1fr 70px;
  grid-template-columns: 1fr;
  height: 100%;
  width: 88px;
  position: fixed;
  inset: 0;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 100%;
  background-color: var(--white);
  box-sizing: border-box;
  border-right: 1px solid var(--gray-border);

  &::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none;
  scrollbar-width: none;

  .logo-container {
    user-select: none;
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border-bottom: 1px solid var(--gray-border);
  }

  &.open {
    width: 230px;
  }

  .links {
    border-bottom: 1px solid var(--gray-border);
    width: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 1fr auto;

    .middle,
    .bottom {
      width: 100%;
    }

    .middle {
      display: flex;
      flex-flow: column;
      height: 100%;
      align-items: center;
      justify-content: center;
    }

    a,
    .log-out {
      user-select: none;
      position: relative;
      display: grid;
      grid-template-rows: 1fr;
      align-items: center;
      justify-items: start;
      width: 100%;
      column-gap: 18px;
      box-sizing: border-box;
      padding: var(--spacing-xs) var(--spacing-s);
      max-width: 100%;
      overflow: hidden;
      background-color: transparent;
      border: 0px solid transparent;
      text-decoration: none;
      cursor: pointer;
      color: var(--text-body-tertiary);
      grid-template-columns: 24px 1fr;

      &.compact {
        grid-template-columns: 1fr;
        align-items: center;
        justify-items: center;
      }

      & > span {
        @include typography(app-side-bar);
        color: inherit;
        overflow: hidden;
        max-width: 100%;
        display: inline-block;
        word-break: normal;
        text-wrap: wrap;
        text-align: left;
      }

      &:hover,
      &.active {
        color: var(--text-main);

        & > svg {
          g,
          path,
          rect {
            fill: var(--primary);
          }
        }
      }

      & > .active-line {
        content: ' ';
        display: block;
        height: 100%;
        width: 2px;
        background-color: var(--primary);
        position: absolute;
        right: 0;
        top: 0;
      }
    }
  }
}
