#assign-user-ip-modal {
  .modal-content {
    & > .description-block {
      padding-bottom: var(--spacing-xl);
    }

    .devices-list {
      display: flex;
      flex-direction: column;
      gap: var(--spacing-md);

      .no-locations {
        color: var(--fg-neutral);
        font: var(--t-body-sm-400);
      }
    }
  }
}
