
.card {
  &.wallet-card {
    box-sizing: border-box;
    padding: 2rem 2rem 2rem 1.7rem;
    position: relative;

    & > .edit-button {
      position: absolute;
      top: 2rem;
      right: 2rem;
    }

    & > .top {
      display: flex;
      flex-flow: row nowrap;
      column-gap: 1rem;
      margin-bottom: 2rem;
      align-items: center;
      align-content: flex-start;
      justify-content: flex-start;

      & > h3 {
        @include small-header;
      }
    }

    & > .bottom {
      label {
        margin-bottom: 1rem;
      }

      p {
        @include typography-legacy(14px, 17px, medium, var(--text-main));

        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
}
