.list-cell-text {
  width: 100%;
  max-width: 100%;
  overflow: hidden;

  p {
    display: inline-block;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &.overflows {
    p {
      cursor: help;
    }
  }
}

.list-cell-text-floating {
  max-width: min(480px, 90dvw);
  overflow: hidden;

  p {
    @include typography(app-modal-1);
    color: var(--text-body-primary);
    white-space: normal;
    word-wrap: break-word;
  }

  &.copy {
    .floating-menu-inner {
      display: grid;
      grid-template-rows: 1fr;
      grid-template-columns: 1fr 40px;
      column-gap: var(--spacing-xs);
      align-items: center;
    }
  }
}
