#auth-container {
  background-color: var(--surface-frame-bg);
  display: flex;
  width: 100%;
  min-height: 100dvh;
  overflow: auto;
  @include media-breakpoint-up(lg) {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
  }

  .logo-container {
    grid-row: 1;
    grid-column: 1;
    flex-direction: column;
    align-content: center;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: var(--surface-main-primary);
    flex-grow: 1;
    flex-shrink: 0;
    width: 100%;
    height: 100%;

    img {
      width: 250px;
      height: 100px;
    }

    @include media-breakpoint-up(lg) {
      display: flex;
    }
  }

  & > section {
    display: flex;
    width: 100%;
    height: 100%;
    grid-row: 1;
    grid-column: 2;
  }
}
