@use '../../shared/scss/helpers' as *;

#auth-container {
  background-color: var(--bg-light);
  min-height: 100vh;
  min-width: 100%;
  display: inline-grid;
  grid-auto-flow: row dense;
  grid-template-rows: 1fr;
  grid-auto-columns: 1fr;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;

  .logo-container {
    grid-row: 1;
    display: none;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    background-color: var(--primary);
    flex-grow: 1;
    flex-shrink: 0;
    width: 100%;
    height: 100%;

    @include media-breakpoint-up(md) {
      display: flex;
    }
  }

  & > section {
    display: flex;
    width: 100%;
    grid-row: 1;
  }
}
