@use '../../../../shared/scss/helpers' as *;

.btn {
  opacity: 1;
  box-sizing: border-box;
  display: grid;
  align-items: center;
  align-content: center;
  overflow: hidden;
  border: 0 solid transparent;
  background-color: var(--white);
  cursor: pointer;
  transition-duration: 250ms;
  transition-property: background-color, border, opacity, box-shadow;
  transition-timing-function: ease-out;
  align-items: center;
  justify-items: center;
  box-shadow: var(--inactive-box-shadow);
  border-radius: 10px;
  justify-content: center;
  user-select: none;

  .text {
    max-width: 100%;

    @include text-overflow-dots;
    text-align: center;
    transition-duration: 250ms;
    transition-property: color;
    transition-timing-function: ease-out;
  }

  &.icon,
  &.loading {
    .text {
      text-align: left;
    }
  }

  // sizes
  &.large {
    height: 60px;
    min-height: 36px;
    column-gap: 10px;
    grid-template-columns: auto;
    grid-template-rows: 36px;
    padding: 0 20px;

    .text {
      @include typography(15px, 1.2, semiBold, inherit, 'Poppins');
    }
  }

  &.small {
    height: 40px;
    min-height: 18px;
    padding: 0 10px;
    grid-template-columns: auto;
    column-gap: 13px;
    grid-template-rows: 18px;
    .text {
      @include typography(12px, 1.2, medium, inherit, 'Roboto');
    }
  }

  // variants
  &.variant-icon {
    height: auto;
    width: auto;
    display: flex;
    flex-flow: row;
    align-self: center;
    justify-content: center;
  }

  &.variant-primary {
    background-color: var(--primary);
    color: var(--white);
    &.hovered {
      background-color: var(--primary-dark);
      box-shadow: var(--button-shadow-blue);
    }
  }

  &.variant-link {
    background-color: var(--white);
    border: 1px solid var(--gray-border);
    color: var(--text-main);

    &.hovered {
      color: var(--primary);
      box-shadow: var(--button-shadow-gray);
    }
  }

  &.variant-standard {
    background-color: var(--white);
    border: 1px solid var(--gray-border);
    color: var(--text-main);
    &.hovered {
      box-shadow: var(--button-shadow-gray);
    }
  }

  &.variant-confirm {
    background-color: var(--white);
    border: 1px solid var(--gray-border);
    color: var(--error);
    &.hovered {
      box-shadow: var(--button-shadow-gray);
    }
  }

  &.variant-delete {
    background-color: var(--error);
    color: var(--white);
    &.hovered {
      background-color: var(--error-dark);
      box-shadow: var(--button-shadow-gray);
    }

    &.small {
      &.hovered {
        box-shadow: var(--button-shadow-blue);
      }
    }
  }

  &.variant-save {
    background-color: var(--success);
    color: var(--white);
    &.hovered {
      box-shadow: var(--button-shadow-green);
    }
  }

  // inactive states

  &:disabled,
  &.disabled,
  &.loading {
    cursor: not-allowed;
  }

  &:disabled,
  &.disabled {
    opacity: 0.7;
  }
}
