@use '../../../scss/helpers' as *;

.toggle {
  display: inline-grid;
  grid-auto-columns: 1fr;
  grid-template-rows: 50px;
  gap: 0;
  opacity: 1;

  &.disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  & > .toggle-option {
    grid-row: 1;
    opacity: 1;
    width: 100%;
    height: 100%;
    border-radius: 0;
    user-select: none;
    cursor: pointer;
    box-sizing: border-box;
    padding: 0 15px 0 17px;
    border: 1px solid transparent;
    color: var(--gray-light);
    border-color: var(--gray-border);
    background-color: var(--white);
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 18px 1fr;
    column-gap: 35px;
    align-items: center;
    justify-items: start;

    &:first-of-type {
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }

    &:last-of-type {
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
    }

    &.active {
      color: var(--primary);
      border-color: var(--primary);
    }

    &.disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }

    & > .checkbox {
      grid-column: 1;
      grid-row: 1;
    }

    & > span {
      display: block;
      grid-column: 2;
      grid-row: 1;
      width: 100%;
      max-width: 100%;
      text-align: left;
      @include typography-legacy(15px, 1.2, semiBold, unset, 'Poppins');
      @include text-overflow-dots;

      color: inherit;
    }

    &:not(.active):hover {
      border-color: var(--gray-border-dark);
    }
  }
}
