@use '../../../../shared/scss/base/variables/' as v;
@use '../../../../shared/scss/helpers/mixins' as mix;

#wizard {
  .mobile-banner {
    height: 70px;
    width: 100%;
    z-index: 1000;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    padding: 0 2rem;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    background-color: v.$bg-light;

    & > .steps-tracker {
      margin-left: auto;
    }

    & > .welcome-message {
      @include mix.typography(16px, 17px, semiBold, v.$gray-light, 'Poppins');

      margin-left: auto;
      background-color: transparent;
    }
  }
}
