#wizard-page {
  max-height: 100%;
  overflow-y: auto;
  background-color: var(--white);

  @include media-breakpoint-up(xl) {
    background-color: var(--bg-light);
  }

  #wizard-content {
    position: relative;
    box-sizing: border-box;
    min-height: 100%;
    height: auto;

    &:not(.welcome) {
      margin: 20px 20px 91px 20px;
    }

    @include media-breakpoint-up(lg) {
      min-height: min-content;
      height: unset;
      padding: 54px 20px;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: min-content;
      min-height: 100%;
      row-gap: 40px;
      justify-items: center;

      & > * {
        grid-column: 1 / 13;
      }

      & > .card {
        width: calc(100% - 50px);
        max-width: 955px;
      }
    }

    @include media-breakpoint-up(xl) {
      padding: 54px 0;
      & > * {
        grid-column: 2 / 12;
      }
    }

    @include media-breakpoint-up(xxl) {
      & > * {
        grid-column: 3 / 11;
      }
    }
  }
}
