
#wizard-welcome {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  user-select: none;

  @include media-breakpoint-down(lg) {
    background-color: var(--white);
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }

  & > header {
    @include typography-legacy(20px, 30px, semiBold, var(--text-main), 'Poppins');

    margin-bottom: 20px;
  }

  & > p {
    @include list-text;

    color: var(--gray-light);
    max-width: 345px;
    white-space: normal;
    text-align: center;
    margin-bottom: 100px;

    & > svg {
      transform: scale(66.67%) translateY(25%);
    }
  }

  & > .btn {
    width: 100%;
    max-width: 400px;
  }

  @include media-breakpoint-up(lg) {
    padding: 50px 88px;
    width: 520px !important;
    margin-top: 180px;
    height: 380px;
  }
}
