@use '@scss/helpers' as *;

#wizard-welcome {
  box-sizing: border-box;
  padding: 0 20px;

  & > h1 {
    width: 100%;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
    @include typography(26px, 28px, semiBold, var(--text-main), 'Poppins');
    @include media-breakpoint-up(lg) {
      @include typography(28px, 42px, semiBold, var(--text-main), 'Poppins');
    }
  }

  @include media-breakpoint-up(lg) {
    padding: 80px 40px 70px;
  }
}
