@use '@scssutils' as *;

#add-device-page {
  #setup-method-step {
    display: flex;
    flex-flow: column;
    row-gap: var(--spacing-s);

    .message-box-spacer {
      padding-bottom: 0px !important;
    }

    & > .title {
      @include typography(app-body-1);
      user-select: none;
    }

    .primary-methods {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      column-gap: var(--spacing-m);
    }

    .native-method {
      display: flex;
      flex-flow: row;
      align-items: center;
      justify-content: center;

      label {
        @include typography(app-body-2);
        color: var(--text-body-primary);
      }
    }
  }

  #spinner-box {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    min-height: 500px;
  }
}
