@use '../../../shared/scss/helpers' as *;

#settings-page {
  .enrollment {
    @include media-breakpoint-up(lg) {
      margin-bottom: 30px;
    }


      & > form {
        align-items: stretch;
        justify-content: flex-start;

        .helper {
          margin-left: auto;
        }

        & .input-container {
          width: 100%;
        }
      }
      }



}
