.posture-check-assignment-modal {
  .selection-section {
    .items-box {
      width: 100%;
    }
  }
}

.posture-check-selection-item {
  flex: 1 0 100%;
  width: 100%;
  flex-grow: 1;

  .checkbox,
  .checkbox > .track {
    width: 100%;
    min-width: 0;
  }
}

.posture-check-info-tooltip {
  min-width: 356px;

  .summary-item .content > p:first-child {
    color: var(--fg-faded);
  }
}
