@use '../../../scss/helpers' as *;

.select {
  height: 50px;
  background-color: var(--white);
  border-radius: 10px;
  position: relative;
  border: 1px solid var(--gray-border);
  cursor: pointer;

  &.disabled {
    cursor: not-allowed;
    user-select: none;
    pointer-events: none;
  }

  &.in-form {
    margin-bottom: 2.5rem;
  }

  .side {
    display: flex;
    flex-flow: row nowrap;
    align-content: center;
    align-items: center;
    justify-content: center;
  }
  & > .inner-frame {
    height: 100%;
    display: inline-grid;
    grid-template-columns: 1fr 22px;
    grid-template-rows: 1fr;
    align-items: center;
    align-content: center;
    box-sizing: border-box;
    padding: 0 8px 0 10px;
    column-gap: 8px;
    max-width: 100%;
    width: 100%;

    & > .selected-option {
      grid-column: 1;
      grid-row: 1;
      overflow: hidden;
      max-width: 100%;
      @include text-overflow-dots;
      @include typography(12px, 14px, medium, var(--text-main));

      & > span {
        @include typography(12px, 14px, medium, var(--text-main));
      }
    }

    & > .placeholder {
      grid-row: 1;
      grid-column: 1;
      width: 100%;

      @include typography(12px, 14px, medium, var(--text-main));
    }

    & > .content-frame {
      height: 100%;
      grid-column: 1;
      grid-row: 1;
      display: flex;
      flex-flow: row wrap;
      row-gap: 10px;
      column-gap: 10px;
      grid-area: 1/1;
      align-items: center;
      align-content: center;
      justify-content: flex-start;
      box-sizing: border-box;

      & > .search-frame {
        display: inline-grid;
        width: auto;
        position: relative;

        & > .input-push {
          visibility: hidden;
          white-space: pre-wrap;
          grid-area: 1/2;
          height: 30px;
          min-width: 2px;

          @include typography(15px, 18px, regular, var(--text-main));
        }

        & > .select-search {
          cursor: pointer;
          position: absolute;
          left: 0;
          top: 0;
          grid-area: 1/2;
          height: 30px;
          border: 0 solid transparent;
          padding: 0;
          margin: 0;
          outline: none;
          box-sizing: content-box;
          background-color: var(--transparent);
          max-width: 100%;

          @include typography(15px, 18px, regular, var(--text-main));
        }
      }

      & > .search-frame > .select-search::placeholder,
      & > .placeholder {
        @include typography(15px, 18px, medium, var(--text-main));
      }
    }

    & > .side {
      grid-column: 2;
      grid-row: 1;
    }
  }

  &.size-small {
    height: 30px;
    & > .inner-frame {
      & > .selected-option {
        font-size: 12px;
        line-height: 15px;
      }
      & > .content-frame {
        & > .placeholder,
        & > .tag {
          height: 100%;
          & > span {
            font-size: 12px;
            line-height: 15px;
          }
        }
        & > .search-frame {
          & > .input-push,
          & > .select-search,
          & > .select-search::placeholder {
            height: 15px;
            font-size: 12px;
            line-height: 15px;
          }
        }
      }
    }
  }

  &.selected {
    & > .inner-frame {
      & > .content-frame {
        & > .search-frame {
          padding-left: 10px;
        }
      }
    }
  }

  &:focus-within {
    & > .inner-frame {
      & > .content-frame {
        & > .selected-option {
          display: none;
        }
      }
    }
  }
}

.select-floating-ui {
  box-sizing: border-box;
  border-radius: 10px;
  background-color: var(--white);
  border: 1px solid var(--gray-lighter);
  padding: 1rem 0;
  position: absolute;
  box-shadow: 0 6px 20px #0000001a;
  z-index: 1;

  & > .options-container {
    overflow-x: hidden;
    overflow-y: auto;
    max-height: calc(50px * 6);
    display: flex;
    flex-flow: column;
    & > .select-option {
      @include regular-text;

      text-align: left;
      padding: 5px 12px;
      display: block;
      border: 0 solid transparent;
      background-color: var(--white);
      cursor: pointer;
      color: var(--gray-dark);

      & > span {
        @include typography(12px, 14px, medium, inherit);
      }

      &.hovered {
        background-color: var(--bg-light);
      }

      &.selected {
        background-color: var(--bg-light);
        color: var(--text-main);
      }

      &.create-option {
        color: var(--primary);
      }
    }
  }
}

#floating-ui-root {
  & > .select-floating-ui {
    z-index: 5;
  }
}

label {
  &.select-outer-label {
    @include outer-label;
  }
}
