#user-profile-page .tab-header {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  grid-column: 1 / 13;
  box-sizing: border-box;
  padding: 0 var(--spacing-xl) var(--spacing-xl);

  h2 {
    font: var(--t-title-h5);
  }

  & > .right {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: flex-end;
    column-gap: var(--spacing-md);
    margin-left: auto;
  }
}
