@use '@scssutils' as *;

.key-box {
  height: 60px;
  display: flex;
  flex-flow: row nowrap;
  box-sizing: border-box;
  border: 1px solid var(--border-primary);
  border-radius: 10px;
  align-items: center;
  justify-content: flex-start;
  padding: 0 10px 0 20px;
  background-color: var(--surface-default-modal);

  & > .title {
    @include typography(app-side-bar);

    color: var(--text-body-primary);
    user-select: none;
  }

  & > .actions {
    display: flex;
    flex-flow: row nowrap;
    column-gap: 15px;
    margin-left: auto;
  }
}
