@use '@scssutils' as *;

#branding-settings {
  & > .card {
    @include media-breakpoint-up(lg) {
      padding: 17px 15px 5px 17px;
    }

    & > .controls {
      margin-bottom: 20px;
    }

    & > form {
      width: 100%;
      & > * {
        width: 100%;
      }
    }
  }
}
