.acl-upsell-text {
  color: var(--fg-muted);

  a {
    color: var(--fg-action);
  }
}

.add-location-mfa-flow-list {
  display: flex;
  flex-flow: column;
}

.add-location-mfa-flow-row {
  display: flex;
  flex-flow: column;
  width: 100%;
  cursor: pointer;
  user-select: none;
}
