.settings-card {
  position: relative;
}

.enterprise-info {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(1.5px);
  z-index: 100;
  border-radius: 15px;
  border-top-left-radius: 0px;
  background-color: rgba(#f9f9f9, 0.75);
}

.enterprise-info > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

#root-form {
  width: 100%;
  grid-column: 1 / -1;

  @include media-breakpoint-up(lg) {
    border-top-left-radius: 0;
  }

  @include media-breakpoint-up(xxl) {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    column-gap: 56px;
  }

  & > .controls {
    grid-column: 1 / -1;
    display: flex;
    gap: 10px;
    justify-content: flex-end;
  }

  & > .left {
    grid-column: 1;
  }

  & > .right {
    grid-column: 2;
  }

  & > .left,
  & > .right {
    width: 100%;
    max-width: 750px;
    display: flex;
    flex-flow: column;
    row-gap: 48px;
  }
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  grid-column: 1 / -1;
  min-height: 300px;
}
