.settings-card {
  position: relative;
}

.enterprise-info {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(1.5px);
  z-index: 100;
  border-radius: 15px;
  border-top-left-radius: 0px;
  background-color: rgba(#f9f9f9, 0.75);
}

.enterprise-info > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
