@use '../../../scss/helpers/' as *;

.card {
  .header {
    user-select: none;
    display: flex;
    margin: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid var(--gray-border);
    height: 4rem;
    width: 90%;
    @include small-header;
  }
}
