@use '@shared/scss/base/variables' as v;
@use '@shared/scss/helpers/mixins' as mix;

.badge {
  @include mix.text-weight(medium);
  @include mix.typography(10px, 13px, medium, v.$gray-light, 'Roboto');

  border-radius: 4px;
  min-height: 1.5rem;
  box-sizing: border-box;
  padding: 0.1rem 0.3rem;
  height: min-content;
  width: min-content;
}
