@use '@shared/scss/base/variables' as v;
@use '@shared/scss/helpers/mixins' as mix;
@use '@shared/scss/helpers/bootstrap' as bs;

.AppVersion {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  background-color: transparent;
  @include bs.media-breakpoint-down(md) {
    padding: 1.3rem 2rem;
  }
  @include bs.media-breakpoint-up(md) {
    padding-left: 4rem;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
  }

  p,
  span {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    color: v.$gray-light;
    font-family: Roboto;
    text-align: left;
  }

  p {
    span {
      display: block;
    }
  }
}
