@use '@scssutils' as *;

.app-version {
  display: flex;
  flex-flow: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  align-content: center;
  box-sizing: border-box;
  padding: 0 1.5rem;
  height: 60px;

  & > p {
    @include typography(10px, 13px, regular, var(--gray-light));

    & > span,
    & > a {
      @include typography(10px, 13px, regular, var(--gray-light));

      display: inline-block;
    }
  }
}
