@use '@scssutils' as *;

.app-version {
  display: flex;
  flex-flow: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  align-content: center;
  box-sizing: border-box;
  min-height: 60px;
  max-width: 100%;
  overflow: hidden;

  span,
  a {
    @include typography-legacy(10px, 13px, regular, var(--gray-light));
    display: inline-block;
  }

  p {
    @include typography-legacy(10px, 13px, regular, var(--gray-light));
  }

  a {
    text-wrap: auto;
    word-break: break-word;
    text-align: center;
  }
}
