{% extends "base.tera" %}
{% import "macros.tera" as macros %}
{% block mail_content %}
{% set section_content = [
macros::paragraph(content="You're receiving this email to configure a new desktop client."),
macros::paragraph(content="Please paste this URL and token in your desktop client:"),
macros::paragraph(content="<b>URL:</b> " ~ url),
macros::paragraph(content="<b>Token:</b> " ~ token)] %}
{{ macros::text_section(content_array=section_content)}}
{% endblock %}
