.navigation-link {
  svg {
    rect {
      fill: var(--surface-icon-primary);
    }

    path {
      fill: var(--surface-icon-primary);
    }

    circle {
      stroke: var(--surface-icon-primary);
    }
  }

  &:hover,
  &.active {
    svg {
      rect {
        fill: var(--surface-main-primary);
      }

      path {
        fill: var(--surface-main-primary);
      }

      circle {
        stroke: var(--surface-main-primary);
      }
    }
  }
}
