@use '@scssutils' as *;

#enrollment-token-step {
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: 20px;

  & > * {
    width: 100%;
  }

  .expanded-content {
    p,
    span,
    strong,
    a {
      @include typography(app-body-2);

      color: var(--text-body-secondary);
    }
  }

  .qr {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding: var(--spacing-m) 0;
    row-gap: var(--spacing-m);
  }

  & > .controls {
    display: none;

    & > .btn {
      width: 100%;
    }

    @include media-breakpoint-up(lg) {
      display: block;
    }
  }
}
