@use '@scssutils' as *;

#enrollment-token-step {
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: 20px;

  & > * {
    width: 100%;
  }

  @include media-breakpoint-up(lg) {
    padding: 0 40px;
  }

  .expanded-content {
    p,
    span,
    strong,
    a {
      @include typography(app-body-2);

      color: var(--text-body-secondary);
    }
  }

  & > .controls {
    display: none;

    & > .btn {
      width: 100%;
    }

    @include media-breakpoint-up(lg) {
      display: block;
      margin-top: 40px;
    }
  }
}
