
#user-yubikeys {
  & > .skeletons {
    width: 100%;
    display: flex;
    flex-flow: column;
    row-gap: 20px;
    .react-loading-skeleton {
      height: 70px;
    }
  }

  & > header {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    width: 100%;

    & > .helper {
      margin-left: 1rem;
    }

    & > h2 {
      @include card-header;
    }

    & > .edit-button {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
    }
  }

  & > .no-license-box {
    margin-bottom: 1.5rem;
  }

  & > .keys {
    display: flex;
    flex-flow: column;
    row-gap: 15px;
    margin-bottom: 20px;
  }

  & > .add-component {
    height: 80px;
  }
}
