
.modal {
  &.key-provisioning {
    @include media-breakpoint-down(xl) {
      min-height: 100%;
      padding: 0;
    }
    @include media-breakpoint-up(xl) {
      transform: translateY(137px);
    }

    .modal-content {
      @include media-breakpoint-down(xl) {
        min-height: 100%;
        min-width: 100%;
      }
      @include media-breakpoint-up(xl) {
        width: 640px;
        padding: 4rem 3rem;
      }

      .provisioning-top {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: center;
        width: 100%;
        @include media-breakpoint-up(xl) {
          row-gap: 2rem;
          margin-bottom: 4rem;
        }

        header {
          width: 100%;
          display: flex;
          flex-direction: row;
          align-content: center;
          align-items: center;
          justify-content: flex-start;
          @include media-breakpoint-down(xl) {
            margin-bottom: 3rem;
            height: 70px;
            box-sizing: border-box;
            border-bottom: 1px solid var(--gray-border);
            padding: 0 2rem;

            & > button {
              margin-left: auto;
            }
          }

          button {
            margin-left: auto;
            border: none;
            background-color: transparent;
            width: 22px;
            height: 22px;
            border-radius: 0;

            &:hover {
              box-shadow: none;
            }
          }

          p {
            font-size: 20px;
            color: var(--text-main);
            @include poppins;
            @include text-weight(semiBold);

            line-height: 28px;

            span {
              color: var(--primary);
            }
          }
        }

        .message-box {
          @include media-breakpoint-down(xl) {
            height: 54px;
            width: calc(100% - 4rem);
            margin-bottom: 2rem;
          }
        }
      }

      .loader {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: center;
        margin-top: auto;
        margin-bottom: auto;
        row-gap: 24px;

        & > p {
          width: 100%;
          text-align: center;
          color: var(--text-body-tertiary);
        }

        & > .controls {
          width: 100%;
          display: flex;
          flex-flow: nowrap;
          align-items: center;
          justify-content: center;
          box-sizing: border-box;
          padding: 0 20px;

          .btn {
            @include media-breakpoint-down(md) {
              width: 100%;
            }
            @include media-breakpoint-up(lg) {
              min-width: 240px;
            }
          }
        }
      }
    }
  }

  &.submitted {
    @include media-breakpoint-up(xl) {
      transform: translateY(207px);
    }
  }
}
