#add-wallet-modal {
  & > .content {
    & > * {
      width: 100%;
    }
    & > .message-box {
      width: calc(100% - 6rem);
      margin: 0 3rem;
      margin-bottom: 2.4rem;
    }

    form {
      & > * {
        width: 100%;
      }
    }
  }
}
