@use '@shared/scss/base/variables' as v;
@use '@shared/scss/helpers/bootstrap' as bs;
@use '@shared/scss/helpers/mixins' as mix;

#wizard {
  & > .content {
    .welcome {
      @include bs.media-breakpoint-down(xl) {
        height: 100%;
        width: 100%;
        background-color: v.$white;
        box-sizing: border-box;
        padding: 0 2rem;
      }
      @include bs.media-breakpoint-up(xl) {
        display: flex;
        flex-direction: column;
        gap: 0;
        flex-wrap: nowrap;
        padding: 8rem 4rem 7rem;
        box-sizing: border-box;
        align-items: center;
        box-shadow: 5px 5px 15px #00000005;
        background-color: v.$white;
        border-radius: 15px;
      }

      & > h1 {
        width: 100%;
        text-align: center;
        margin-bottom: 2rem;
        @include bs.media-breakpoint-down(xl) {
          margin-top: 10rem;
          @include mix.typography(
            26px,
            28px,
            semiBold,
            $font-family: 'Poppins'
          );
        }
        @include bs.media-breakpoint-up(xl) {
          @include mix.typography(
            28px,
            42px,
            semiBold,
            $font-family: 'Poppins'
          );
        }
      }

      & > p {
        padding: 0;
        margin: 0;
        margin-bottom: 6rem;
        text-align: center;
        @include bs.media-breakpoint-down(xl) {
          @include mix.typography(21px, 25px, regular, v.$gray-dark);
        }
        @include bs.media-breakpoint-up(xl) {
          @include mix.typography(20px, 30px, regular, v.$gray-dark);
        }
      }

      button {
        @include bs.media-breakpoint-down(xl) {
          width: 100%;
        }
        @include bs.media-breakpoint-up(xl) {
          width: 284px;
        }

        &:first-of-type {
          margin-bottom: 2rem;
        }
      }

      a {
        text-decoration: none;
      }
    }
  }
}
