.cert-info {
  border-radius: 8px;
  background: var(--bg-disabled);
  font: var(--t-body-xs-400);
  padding: var(--spacing-md);

  .bold {
    font: var(--t-body-xs-600);
  }
}

.description-block {
  &>.header {
    display: flex;
    justify-content: space-between;

    &>.title {
      font: var(--t-body-sm-500);
    }

    &>div {
      p {
        font: var(--t-body-sm-400);
        color: var(--fg-muted);
      }

      a {
        font: var(--t-body-sm-400);
        color: var(--fg-action);
        text-decoration: none;

        &:hover {
          text-decoration: underline;
          text-decoration-color: var(--fg-action);
        }
      }
    }
  }
}
