.device-method-card {
  width: 100%;
  display: flex;
  flex-flow: column;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--surface-frame-bg);
  border-radius: 15px;
  padding: var(--spacing-l) var(--spacing-s);
  box-shadow: var(--box-shadow);
  cursor: pointer;
  outline: 0px solid transparent;
  transition-property: outline;

  @include animate-standard;

  &:not(.active):hover {
    outline: 1px solid var(--surface-main-primary);
  }

  &.active {
    outline: 3px solid var(--surface-main-primary);
  }

  .title {
    text-align: center;
    padding-bottom: var(--spacing-s);
    @include typography(app-body-1);
  }

  .description {
    text-align: center;
    max-width: 280px;
    color: var(--text-body-tertiary);
    padding-bottom: var(--spacing-m);

    @include typography(welcome-h2);
  }

  & > .icon {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    column-gap: var(--spacing-s);
    width: 100%;

    &:first-of-type {
      padding-bottom: var(--spacing-l);
    }
  }

  .wg-icon {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    min-height: 210px;
  }
}
