@use '@scss/helpers' as *;

#wizard-setup-choice {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 90px);
  row-gap: 20px;
  box-sizing: border-box;

  background-color: transparent;
  box-shadow: none;

  @include media-breakpoint-up(xl) {
    background-color: var(--white);
    box-shadow: var(--card-shadow);
    height: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 50px;
    row-gap: 0;
    padding: 55px;
  }
}
