#login-main-form {
  .forgot {
    font: var(--t-body-xs-400);
    color: var(--fg-muted);
  }
}

#external-login {
  a {
    width: 100%;

    button {
      width: 100%;
      min-height: var(--button-size-lg);
    }
  }
}
