.posture-selection {
  max-height: 300px;
  overflow: hidden auto;

  > .posture-selection-row {
    display: flex;
    justify-content: space-between;
  }
}

.posture-tooltip {
  width: 356px;
  max-width: 356px;
  padding: var(--spacing-md) var(--spacing-lg);

  > .content {
    display: flex;
    flex-flow: column;
    row-gap: var(--spacing-md);

    > .section {
      display: flex;
      flex-flow: row nowrap;
      align-items: flex-start;
      justify-content: space-between;

      > .label {
        flex: 0 0 100px;
        margin: 0;
        color: var(--fg-faded);
        font: var(--t-body-xs-400);
      }

      > .lines {
        display: flex;
        flex: 0 0 230px;
        flex-flow: column;
        row-gap: var(--spacing-xs);

        > .line {
          margin: 0;
          color: var(--fg-muted);
          font: var(--t-body-xs-400);

          &[data-primary='true'] {
            color: var(--fg-faded);
          }
        }
      }
    }
  }
}
