@use '../../../shared/scss/helpers' as *;

.row {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  display: grid;

  & > label {
    margin-bottom: 20px;
  }

  align-items: center;
  align-content: center;
  justify-content: flex-start;
  gap: 1rem;
  margin: 10px;

  font-size: 1.3rem;

  line-height: 1.5;
  @include typography(12px, 17px, medium, var(--gray-dark));
}
