@use '@shared/scss/base/variables' as v;
@use '../../../shared/scss/helpers' as *;

.row {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  display: grid;

  & > label {
    margin-bottom: 20px;
  }

  & > .custom-checkbox {
    font-size: 20px;
  }

  .custom-checkbox {
    display: flex;

    flex-direction: row;

    align-items: center;
    align-content: center;
    justify-content: flex-start;
    gap: 1rem;
    margin: 10px;

    & > label {
      font-size: 1.3rem;

      color: v.$gray-dark;
      line-height: 1.5;
    }
  }
}
