#register-totp-modal {
  & > .content {
    padding-bottom: 2.6rem;

    & > .message-box-spacer {
      padding-bottom: 20px;

      @include media-breakpoint-up(lg) {
        padding: 0 30px 25px;
      }

      p {
        max-width: 361px;
      }
    }

    & > .qr-container {
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      align-content: center;
      margin-bottom: 2.5rem;
      row-gap: 2.5rem;

      & > .actions {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        width: 100%;

        & > .btn {
          width: 50%;
        }
      }
    }

    & > form {
      margin: 0;

      & > .controls {
        margin-top: 0.5rem;
      }
    }
  }
}
