#add-standalone-device-modal .method-step {
  box-sizing: border-box;
  padding: 0 55px;

  .choices {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 40px;
    column-gap: 50px;

    .device-method-card {
      .link-container {
        width: 100%;
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: center;

        .link {
          width: 100%;
          text-decoration: none;
          text-align: center;
          @include typography(app-body-2);

          &:hover {
            text-decoration: underline;
          }

          .spacer {
            display: inline-block;
            width: var(--spacing-xs);
            height: 1px;
          }

          svg {
            width: 13;
            height: 13;
          }
        }
      }
    }
  }
}
