.wizard-card {
  .modal-controls > .buttons {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
  }

  .controls {
    padding-top: 0;
  }

  .code-card {
    white-space: pre-wrap;
    overflow-wrap: anywhere;
  }
}
