@use '../../../scss/helpers' as *;

.checkbox {
  display: flex;
  height: 18px;
  width: auto;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
  gap: 0.8rem;
  cursor: pointer;

  &.disabled {
    cursor: not-allowed;
    pointer-events: none;
  }

  &.label-right {
    flex-flow: row nowrap;
  }

  &.label-left {
    flex-flow: row-reverse nowrap;
  }

  .label {
    display: flex;
    flex-flow: row nowrap;
    column-gap: 1rem;
    user-select: none;

    @include label-text;
  }

  .box {
    user-select: none;
    height: 18px;
    width: 18px;
    box-sizing: border-box;
    border-radius: 6px;
    cursor: pointer;
    background-color: var(--primary);
    border: 1px solid transparent;
    position: relative;
  }

  .check-box {
    content: ' ';
    display: block;
    background-color: var(--white);
    border: 1px solid transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
