@use '../../../scss/helpers' as *;

.custom-checkbox {
  display: flex;
  height: 18px;
  width: auto;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
  gap: 0.8rem;
  cursor: pointer;

  &.label-right {
    flex-flow: row nowrap;
  }

  &.label-left {
    flex-flow: row-reverse nowrap;
  }

  label,
  & > label > span,
  p,
  a {
    @include label-text;

    user-select: none;
  }

  .box {
    height: 18px;
    width: 18px;
    box-sizing: border-box;
    border-radius: 6px;
    cursor: pointer;
    background-color: var(--primary);
    border: 1px solid transparent;
    position: relative;
  }

  .check-box {
    content: ' ';
    display: block;
    background-color: var(--white);
    border: 1px solid transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  input {
    display: none;
  }
}
