@use '../../../shared/scss/base/variables/' as v;
@use 'sass:list';

.connection-cards {
  max-height: 653px;
  overflow-y: auto;
  padding-right: 10px;

  .connected-users {
    min-height: calc(100% - 94px);
    max-height: calc(100% - 94px);

    &.grid {
      display: grid;
      width: 100%;
      gap: 15px;
      overflow: auto;
      box-sizing: border-box;
      position: relative;
      grid-template-rows: min-content;
      grid-template-columns: 1fr;

      @include media-breakpoint-up(lg) {
        grid-template-columns: repeat(auto-fill, 400px);
      }

      @include media-breakpoint-up(xl) {
        grid-template-columns: repeat(auto-fill, 460px);
      }

      @include media-breakpoint-up(xxl) {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
}