#auth-container {
  #mfa {
    display: flex;
    flex-flow: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 24px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 15px 10px 30px 10px;

    h1 {
      @include typography(app-welcome-1);
      color: var(--text-body-primary);
      width: 100%;
      text-align: center;
    }

    & > p {
      @include typography(welcome-h2);

      color: var(--gray-dark);
      text-align: center;
      width: 100%;
      max-width: 334px;
    }

    .btn {
      min-width: 284px;

      height: 50px;
      min-height: 50px;

      span,
      p {
        @include typography(app-button-l);
      }
    }

    nav,
    form {
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: flex-start;
      gap: 25px;
      min-width: 284px;

      & > * {
        min-width: 284px;
        margin: 0;
      }
    }

    & > nav {
      & > span {
        @include typography(app-modal-1);
        color: var(--text-body-tertiary);

        display: block;
        width: 100%;
        text-align: center;
      }
    }
  }
}
