@use '../../../scss/helpers' as *;

.tag {
  display: block;
  box-sizing: border-box;
  height: 30px;
  border-radius: 10px;
  border: 1px solid var(--gray-border);
  position: relative;

  &.disposable {
    padding-right: 20px;
    min-width: 80px;
  }

  & > .dispose {
    position: absolute;
    right: 0;
    top: 0;
    height: inherit;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    align-content: center;
    background-color: transparent;
    width: 20px;
    cursor: pointer;
    border: 0 solid transparent;
    border-radius: 0;
    padding: 0;

    & > svg {
      height: 16px;
      width: 16px;
    }
  }

  & > span {
    @include regular-text;

    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    margin-left: 10px;
    align-items: center;
    align-content: center;
    margin-right: 10px;
  }
}
