.card {
  display: block;
  border-radius: 15px;
  background-color: var(--white);
  box-sizing: border-box;

  &.shaded {
    box-shadow: var(--card-shadow);
  }

  &.hide-appearance {
    box-shadow: none;
    border-radius: 0;
    border: 0 solid transparent;
    background-color: inherit;
  }
}
