#create-audit-stream-modal {
  .audit-stream-types {
    display: flex;
    flex-flow: column;
    row-gap: var(--spacing-xs);

    .stream-type {
      display: flex;
      flex-flow: row;
      align-items: center;
      column-gap: var(--spacing-xs);
      min-height: 30px;
      border: 1px solid var(--border-primary);
      padding: var(--spacing-xs) var(--spacing-s);
      border-radius: 10px;
      cursor: pointer;
      user-select: none;
      transition-property: border-color;

      @include animate-standard;

      &:not(.active) {
        &:hover {
          border-color: var(--border-separator);
        }
      }

      &.active {
        border-color: var(--surface-main-primary);
      }

      &.active,
      &:hover {
        .label {
          color: var(--text-body-primary);
        }
      }

      .label {
        color: var(--text-body-secondary);
        transition-property: color;
        @include typography(app-modal-1);
        @include animate-standard;
      }
    }
  }

  .controls {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: flex-start;
    column-gap: var(--spacing-xs);
    padding-top: var(--spacing-m);

    .btn {
      width: 100%;
    }
  }
}
