[Unit]
Description=Defguard Core service
Documentation=https://docs.defguard.net/
Wants=network-online.target
After=network-online.target

[Service]
User=defguard
Group=defguard
AmbientCapabilities=CAP_NET_BIND_SERVICE
CapabilityBoundingSet=CAP_NET_BIND_SERVICE
EnvironmentFile=/etc/defguard/core.conf
ExecStart=/usr/bin/defguard
KillMode=process
KillSignal=SIGINT
LimitNOFILE=65536
LimitNPROC=infinity
Restart=on-failure
RestartSec=3
TasksMax=infinity
OOMScoreAdjust=-1000

[Install]
WantedBy=multi-user.target
