@use '@shared/scss/base/variables' as v;
@use '@shared/scss/helpers/mixins' as mix;
@use '@shared/scss/helpers/bootstrap' as bs;

.modal {
  &.gateway-setup {
    @include bs.media-breakpoint-down(md) {
      width: 90%;
      padding: 0;
    }

    transform: translateY(200px);

    .modal-content {
      padding: 4rem 3rem;
      width: 635px;
      box-sizing: border-box;
      align-self: flex-start;
      @include bs.media-breakpoint-down(md) {
        width: calc(100% - 40px);
        border-radius: 1.5rem;
      }

      .header {
        display: flex;
        flex-direction: row;
        width: 100%;
        margin-bottom: 3.4rem;
        @include bs.media-breakpoint-down(md) {
          text-align: center;
        }

        p {
          @include v.poppins;

          font-size: 2rem;
          line-height: 3rem;
          color: v.$text-main;
          font-weight: map-get($map: v.$text-weights, $key: 'semiBold');
          @include bs.media-breakpoint-down(md) {
            font-size: 1.4rem;
          }
        }

        button {
          margin-left: auto;
          width: 114px;
        }
      }

      .commands-list {
        list-style: none;
        width: 100%;
        margin-bottom: 4rem;

        .key-container {
          p {
            @include bs.media-breakpoint-down(md) {
              font-size: 1rem;
            }
          }
        }

        li {
          &:not(:last-of-type) {
            margin-bottom: 1rem;
          }
        }
      }

      .controls {
        display: flex;
        flex-direction: row;
        column-gap: 1rem;
        width: 100%;

        .btn {
          width: 100%;
        }
      }
    }
  }
}
