.wireguard-config-card {
  .expanded-content {
    display: flex;
    flex-flow: column;
    align-items: center;

    .config {
      width: 100%;
      color: var(--text-button-primary);
      @include typography(app-code);
    }
  }
}
