@use '../../../scss/helpers' as *;

#toasts-root {
  position: fixed;
  top: 1.5rem;
  right: 1.5rem;
  display: flex;
  z-index: 4;
  flex-flow: column;
  align-items: center;
  align-content: center;
  justify-content: flex-end;
  row-gap: 1.5rem;
}
