@use '../../../shared/scss/helpers' as *;

#network-page {
  .network-config {
    & > .card {
      padding: 1.5rem 3rem 4rem;

      & > form {
        justify-content: flex-start;
        align-content: flex-start;
        align-items: flex-start;

        & > .hidden {
          @include visually-hidden;
        }

        & > label {
          margin-bottom: 1.2rem;
        }

        & > .input-container {
          width: 100%;
        }

        & > .message-box-container {
          &:not(:last-child) {
            margin-bottom: 2.5rem;
          }
        }

        & > .device-form {
          display: grid;
          width: 100%;
          grid-template-columns: 1fr 1fr auto auto;
          column-gap: 10px;

          & .wireguard-ip {
            // display: inline;
            // vertical-align: middle;
            position: absolute;
            top: 50%;
  transform: translateY(-50%);
  transform: translateY(-50%);
          }
        }

        & .input-container {
          width: 100%;
        }
      }
    }
  }
}
