@use '@shared/scss/base/variables' as v;
@use '@shared/scss/helpers/mixins' as mix;

.tabs-container {
  .controls {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    column-gap: 2rem;
    margin-bottom: 2rem;

    .tab {
      display: flex;
      flex-flow: column nowrap;
      position: relative;
      min-height: 30px;
      cursor: pointer;

      span {
        display: block;
      }

      .tab-title {
        margin-bottom: 0.6rem;
        user-select: none;
        font-size: 1.5rem;
        line-height: 2.1rem;
        @include mix.poppins;
        @include mix.text-weight(semiBold);
      }

      .default-underline {
        height: 2px;
        content: '';
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        margin: 0;
      }

      .default-underline {
        background-color: v.$gray-lighter;
      }

      .active-underline {
        background-color: v.$primary;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 2px;
        z-index: 2;
        margin: 0;
      }
    }
  }

  // .content {
  // }
}
