.edit-page .page-content {
  & > .layout-grid {
    padding: var(--spacing-3xl) var(--spacing-xl);

    & > .main-content {
      grid-column: 1 / 7;
      grid-row: 1;

      & > .edit-header {
        padding-bottom: var(--spacing-2xl);
      }

      & > .card {
        border: var(--border-1) solid var(--border-disabled);
        border-radius: var(--radius-lg);
        box-sizing: border-box;
        padding: var(--spacing-xl);
      }
    }
  }
}
