.video-tutorials-thumbnail {
  flex-shrink: 0;
  width: 106px;
  height: 60px;
  border-radius: var(--radius-md);
  overflow: hidden;
  background-color: var(--bg-emphasis);
  position: relative;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;

    &.loaded {
      display: block;
    }
  }

  &.placeholder {
    display: flex;
    align-items: center;
    justify-content: center;

    .icon-badge {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: var(--spacing-sm);
      background-color: var(--bg-default);
      border-radius: var(--radius-full);
      box-shadow: var(--menu-shadow);
    }
  }
}
