#overview-index {
  &>.page-content {
    --nav-width: 88px;
    --page-spacing: var(--spacing-s);
    --page-content-spacing: var(--spacing-s);

    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;

    @include media-breakpoint-up(lg) {
      --page-spacing: var(--spacing-xl);
    }

    padding: var(--page-spacing) var(--page-spacing) var(--spacing-l);


    &.nav-open {
      --nav-width: 230px;
    }

    &>div {
      width: 100%;
      max-width: calc(1920px - 2 * var(--page-spacing) - var(--nav-width));
    }
  }
}

#overview-index>.page-content>div {
  &>header {
    padding-bottom: var(--page-content-spacing);
  }
}