@use '@scssutils' as *;

#login-container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 20px 0;

  @include media-breakpoint-up(lg) {
    padding: 40px 0;
  }

  h1 {
    @include typography(app-welcome-1);

    color: var(--text-body-primary);
    text-align: center;
    width: 100%;
    margin-bottom: 24px;
  }

  form {
    width: 100%;
    max-width: 300px;
    box-sizing: border-box;

    @include media-breakpoint-down(lg) {
      padding: 10px;
    }

    & > .input {
      margin-bottom: 5px;
    }

    & > * {
      width: 100%;
    }
  }
}
