@use '@shared/scss/base/variables' as v;
@use '@shared/scss/helpers/mixins' as mix;
@use '@shared/scss/helpers/bootstrap' as bs;

#login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-grow: 1;
  width: 100%;

  & > p {
    color: v.$gray-light;
    font-size: 1.2rem;
    line-height: 1.4;
    margin: 2rem 0;
  }

  & > h1 {
    margin-bottom: 1.2rem;
    font-size: 2.8rem;
    line-height: 3.9rem;
    @include mix.text-weight(semiBold);
  }

  & > form {
    display: flex;
    flex-direction: column;
    width: 284px;
    height: auto;

    .input-container {
      width: 284px;
    }

    button {
      width: 284px;
    }

    input-container {
      width: 284px;
    }
  }

  & > button {
    width: 284px;
    margin-bottom: 2rem;

    &:last-of-type {
      margin: 0;
    }
  }
  @include bs.media-breakpoint-up(lg) {
    width: 50%;
  }
}
