name: Build current image
permissions:
  contents: read
  id-token: write
  packages: write
on:
  push:
    branches:
      - main
      - dev
      - "release/**"
      - fix_forward_auth
    paths-ignore:
      - "*.md"
      - "LICENSE"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-current:
    uses: ./.github/workflows/build-docker.yml
    with:
      tags: |
        type=ref,event=branch
        type=sha

  # trigger-e2e:
  #   needs: build-current
  #   uses: ./.github/workflows/e2e.yml
  #   secrets: inherit

  # trigger-dev-deploy:
  #   needs: build-current
  #   if: ${{ github.event_name != 'pull_request' && github.ref_name == 'dev' }}
  #   uses: ./.github/workflows/dev-deployment.yml
  #   secrets: inherit

  # trigger-staging-deploy:
  #   needs: build-current
  #   if: ${{ github.event_name != 'pull_request' && startsWith(github.ref_name, 'release/') }}
  #   uses: ./.github/workflows/staging-deployment.yml
  #   secrets: inherit
