name: rustdoc Github Pages
on:
  push:
    branches:
      - main
    paths-ignore:
      - "*.md"
      - "LICENSE"

env:
  CARGO_INCREMENTAL: 0
  CARGO_NET_RETRY: 10
  CARGO_TERM_COLOR: always
  RUSTFLAGS: "-D warnings -W unreachable-pub"

jobs:
  rustdoc:
    runs-on: [self-hosted, Linux, X64]
    container: rust:1-slim
    steps:
      - name: Install packages
        run: apt-get update && apt install -y git protobuf-compiler

      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Build Docs
        env:
          SQLX_OFFLINE: true
        run: cargo doc --no-deps --workspace

      - name: Deploy Docs
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: gh-pages
          publish_dir: ./target/doc
          force_orphan: true
