on:
  push:
    branches:
      - main
    paths:
      - "e2e/**"
  pull_request:
    branches:
      - main
    paths:
      - "e2e/**"

jobs:
  lint-e2e:
    runs-on: [self-hosted, Linux]
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 19
      - name: install deps
        working-directory: ./e2e
        run: |
          npm i -g pnpm
          pnpm i --frozen-lockfile
      - name: Lint
        working-directory: ./e2e
        run: pnpm lint
