on:
  push:
    branches:
      - main
      - dev
    paths:
      - "web/**"
  pull_request:
    branches:
      - main
      - dev
    paths:
      - "web/**"

jobs:
  lint-web:
    runs-on: [self-hosted, Linux, X64]
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: "recursive"
      - uses: actions/setup-node@v4
        with:
          node-version: 20
      - name: install deps
        working-directory: ./web
        run: |
          npm i -g pnpm
          pnpm i --frozen-lockfile
      - name: Lint
        working-directory: ./web
        run: pnpm lint
      - name: Audit
        working-directory: ./web
        run: pnpm audit --prod
