on:
  push:
    branches:
      - main
      - dev
      - "release/**"
    paths-ignore:
      - "*.md"
      - "LICENSE"
  pull_request:
    branches:
      - main
      - dev
      - "release/**"
    paths-ignore:
      - "*.md"
      - "LICENSE"

jobs:
  lint-web:
    runs-on:
      - codebuild-defguard-core-runner-${{ github.run_id }}-${{ github.run_attempt }}

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: "recursive"
      - uses: actions/setup-node@v4
        with:
          node-version: 25
      - name: install deps
        working-directory: ./web
        run: |
          npm i -g npm pnpm
          pnpm i --frozen-lockfile
      - name: Build
        working-directory: ./web
        run: pnpm run build
      - name: Lint
        working-directory: ./web
        run: pnpm run lint
      - name: Audit
        working-directory: ./web
        run: pnpm audit --prod
