#enrollment-page {
  .message-templates-content {
    grid-column: 1 / 12;
  }

  .message-templates-layout {
    display: grid;
    grid-template-columns: minmax(720px, 1fr) 373px;
    gap: var(--spacing-4xl);
    align-items: start;
    width: 100%;
    max-width: calc(1000px + 373px + var(--spacing-4xl));
    min-width: calc(720px + 373px + var(--spacing-4xl));
  }

  .message-templates-left {
    display: flex;
    flex-flow: column;
    min-width: 0;
  }

  .message-template-section {
    display: flex;
    flex-flow: column;
  }

  .message-template-section-offset {
    display: grid;
    grid-template-columns: 36px minmax(0, 1fr);
    column-gap: var(--spacing-lg);
  }

  .message-template-offset-spacer {
    width: 36px;
  }

  .message-template-offset-content {
    min-width: 0;
  }

  .message-template-offset-divider {
    padding-left: calc(36px + var(--spacing-lg));
  }

  .message-template-static-header {
    display: flex;
    flex-flow: column;
    row-gap: var(--spacing-xs);
  }

  .message-template-toggle {
    .grid {
      grid-template-columns: 36px 1fr;
      column-gap: var(--spacing-lg);
    }

    .content {
      max-width: 780px;
    }
  }

  .message-templates-sidebar {
    display: flex;
    flex-flow: column;
    row-gap: var(--spacing-lg);

    .sidebar-header {
      display: flex;
      align-items: center;
      gap: var(--spacing-md);
    }

    .sidebar-panel {
      border: none;
      border-radius: var(--radius-lg);
      background-color: var(--bg-emphasis);
      padding: var(--spacing-lg);
      display: flex;
      flex-flow: column;
      row-gap: var(--spacing-lg);
    }

    .sidebar-list {
      list-style: disc;
      padding-left: 18px;
      margin: 0;
      display: flex;
      flex-flow: column;
      row-gap: var(--spacing-xs);
      font: var(--t-body-sm-400);
      color: var(--fg-faded);

      li {
        line-height: 20px;
      }
    }

    .sidebar-token {
      font: var(--t-body-sm-600);
      color: var(--fg-faded);
    }

    .sidebar-token-medium {
      font: var(--t-body-sm-500);
      color: var(--fg-faded);
    }

    .sidebar-separator {
      color: var(--fg-faded);
    }
  }

  .message-templates-checkbox {
    display: inline-flex;
  }

  .message-templates-success-banner {
    display: grid;
    grid-template-columns: 20px 1fr;
    column-gap: var(--spacing-md);
    align-items: center;
    background-color: var(--fg-success-muted);
    border-radius: var(--radius-lg);
    padding: var(--spacing-sm) var(--spacing-lg);
    box-sizing: border-box;
    min-height: 36px;

    .copy {
      font: var(--t-body-xs-500);
      color: var(--fg-success);
    }
  }
}
